﻿@model Ucon.Models.GetLocalCountries

<div>
    <h4>Local Countries <span class="badge">@Model.Lists.Count</span></h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>


<div class="list-group">
    
    @foreach (string Item in Model.Lists)
    {
        <a href="#" class="list-group-item">@Item</a> 
    }

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
