﻿@model Ucon.Models.GetOccupations

<div>
    <h4>List of Occupations <span class="badge">@Model.Lists.Count</span></h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div>
    @foreach (Ucon.Models.Company Company in Model.Lists)
    {
        <div class="list-group">
            <a href="#" class="list-group-item active">
            Industry: @Company.Industry
            </a>
            <a href="#" class="list-group-item">@Company.Occupation</a>
            <a href="#" class="list-group-item"><i>Do Not Insure</i><span class="badge">@Company.Do_Not_Insure</span></a>
         </div>    
        <hr />
    }
    @{ 
        TempData["JSONTOPRETTY"] = Newtonsoft.Json.Linq.JArray.Parse(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lists));
    }

</div>

<hr />
<div>
    <button class="btn btn-success" data-toggle="modal" data-target="#JSONPretty">See JSON Response</button>
</div>
<div class="modal fade" id="JSONPretty" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">JSON Request</h4>
            </div>
            <div class="modal-body Audit">
                @Html.Partial("JSONViewer")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
