﻿@model Ucon.Models.VehicleColors
<script src="~/MyCustomScripts/CustomScript.js"></script>
@{
    ViewBag.Title = "Details";
}

<h2>Motor Vehicle Colors</h2>

<div>
    <h4>VehicleColors</h4>
    <hr />
    <dl class="dl-horizontal">

    </dl>

   

        <div class="list-group">
            <a href="#" class="list-group-item active">
                Colors
            </a>

            @{ foreach (string Color in Model.Colors)
            {
                    <a href="#" class="list-group-item">@Color</a>
                }
            }
        </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
