﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title MiddleWare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/www/css/index.css" rel="stylesheet" />
    <link href="~/www/css/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top CustNav CustNav_">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("MiddleWare", "Index", "Home", new { area = "" }, new { @class = "NavText" })*@
                <a href="~/MiddleWareHome/Index"><img alt="Brand" src="~/www/images/Middleware-icon-512x512.png" class="FixImageBrand pull-left nb"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "MiddleWareHome")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
         
                    @if(User.Identity.IsAuthenticated == true) { 

                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quotation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Request Quotation", "Index", "RequestQuotation")</li>
                            <li>@Html.ActionLink("Find Quote", "Index", "FindQuotation")</li>
                            <li>@Html.ActionLink("Vehicle Exception List", "Index", "DoNotInsure")</li>
                       </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Broker <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Broker Check", "BrokerStatus", "AllMethods") </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Client Check", "ClientStatus", "AllMethods") </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Global Names <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Submit Global Name", "SubmitGlobalName", "GlobalNameManager")</li>
                            <li>@Html.ActionLink("Find Global Name", "GetGlobalNames", "MiddleWareHome")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Parish and Towns", "Parish", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Street Names", "StreetNames", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Street Types", "StreetType", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Zip Codes", "ZipCodes", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Countries", "Countries", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Local Islands", "Islands", "MiddleWareHome") </li>
                            <li>@Html.ActionLink("General Areas", "GeneralAreas", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Location Classes", "LocationClass", "MiddleWareHome")</li>
                           
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehicle <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Usages", "Usages", "MiddleWareHome") </li>
                            <li>@Html.ActionLink("Vehicle Roof Types", "VehicleRoofTypes", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Makes And Models", "MakeAndModel", "MiddleWareHome") </li>
                            <li>@Html.ActionLink("Transmission Types", "VehicleTransmissionTypes", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Authorized Drivers", "AuthorizedDrivers", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Vehicle Colours", "MotorVehicleColors", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Vehicle Import Types", "ImportTypes", "MiddleWareHome")</li>
                           
                      </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policy <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Occupation Listing", "Occupations", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Global Name Policy", "GetGlobalNamePolicy", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Extensions", "GetPolicyExtension", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Limits", "GetPolicyLimit", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Transactions", "GetPolicyTransactions", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Risks", "GetPolicyRisk", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Claims", "PolicyClaim", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profiles", "PolicyProfiles", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profile Extentions", "PolicyProfileExtentions", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profile Limits of Liability", "PolicyProfileLimitsOfLiability", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profile Ratings", "PolicyProfileRatings", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profile Rating Codes", "PolicyProfileRatingCodes", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Policy Profile Range Values", "PolicyProfileRangeValues", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Create a Policy", "PolicyData", "PolicyCreate")</li>
                            <li>@Html.ActionLink("Renew a Policy", "Index", "PolicyRenew")</li>
                            <li>@Html.ActionLink("View Policy", "GetPolicy", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Submit Files", "SubmitFile", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Get Sources", "GetAllSources", "MiddleWareHome")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Property <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Property Roof Types", "PropertyRoofTypes", "MiddleWareHome")</li>
                            <li>@Html.ActionLink("Property Wall Types", "PropertyWallTYpes", "MiddleWareHome")</li>
                        </ul>
                    </li>


                        {
                            string CurrentUser = User.Identity.Name;
                            int RoleID = 0;
                            var Users = from U in (new Ucon.Models.DBModel.MiddleAccsEntities()).AspNetUsers where U.Email == CurrentUser select U;
                            try { RoleID = int.Parse(Users.SingleOrDefault().UserRoleID.ToString()); } catch (Exception) { }

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @Html.Partial("_LoginPartial")
                                   @{
                                       var UR = from Roles in (new Ucon.Models.DBModel.MiddleAccsEntities()).UserRoles where Roles.RolID == RoleID select Roles;

                                       if (Users.ToList().Count() > 0 && UR.ToList().Count() > 0)
                                       {

                                           if (UR.ToList().Count() > 0)
                                           {
                                               if (UR.SingleOrDefault().RoleName.ToString().ToUpper() == "ADMIN")
                                               {
                                                    <li>@Html.ActionLink("Map Authorized Drivers Wording", "MapAuthDrivers", "MiddleWareHome", new { CompanyID = 5 }, null)</li>
                                                    <li>@Html.ActionLink("Map Policy Prefix", "MapPrefix", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Map Usages", "MapUsages", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Map Rating Codes", "MapRatingCodes", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Map Policy Actions", "MapActions", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("View Audit Log", "ViewAuditLog", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Manage Brokers", "brokerservers", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Add New Broker", "brokerserver", "MiddleWareHome")</li>
                                                    <li>@Html.ActionLink("Manage Users", "users", "account")</li>
                                                    @*<li>@Html.ActionLink("Register Middleware", "RegisterKeys", "MiddleWareHome")</li>*@
                                                    <li>@Html.ActionLink("Manage IP White list", "IPWhiteList", "MiddleWareHome")</li>
                                                    @*<li id="GetSettings" data-toggle="modal" data-target="#SettingsModal1"><a href="#">Settings</a></li>*@
                                                    @*<li>@Html.ActionLink("Map Transaction Wordings", "MapTransactionWording", "MiddleWareHome")</li>*@
                                               }
                                           }
                                       }
                                }
                                </ul>
                            </li>




                                       }


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Methods <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/MiddleWareHome#RequestLogin"><span class="glyphicon glyphicon-flash"></span>RequestLogin</a></li>
                            <li class="dropdown-submenu">
                                <a class="groupname" href="#" ><span class="glyphicon glyphicon-flash">Locations</span><span class="caret"></span></a>
                                <ul class="dropdown-menu locations-menu">
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCCountries"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCCountries</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCGeneralAreas"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCGeneralAreas</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCIslands"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCIslands</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCParishTowns"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCParishTowns</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCStreetNames"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCStreetNames</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCStreetTypes"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCStreetTypes</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetLOCZipCodes"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCZipCodes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="groupname" href="#"><span class="glyphicon glyphicon-flash">Property</span><span class="caret"></span></a>
                                <ul class="dropdown-menu property-menu">
                                    <li><a href="/MiddleWareHome#epic_mwGetPropRoofType"><span class="glyphicon glyphicon-flash"></span>epic_mwGetPropRoofType</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetPropWallType"><span class="glyphicon glyphicon-flash"></span>epic_mwGetPropWallType</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="groupname" href="#"><span class="glyphicon glyphicon-flash">Quotation</span><span class="caret"></span></a>
                                <ul class="dropdown-menu quotation-menu">
                                    <li><a href="/MiddleWareHome#epic_mwQuotationGet"><span class="glyphicon glyphicon-flash"></span>epic_mwQuotationGet</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwSubmitQuotation"><span class="glyphicon glyphicon-flash"></span>epic_mwSubmitQuotation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="groupname" href="#"><span class="glyphicon glyphicon-flash">Vehicle</span><span class="caret"></span></a>
                                <ul class="dropdown-menu vehicle-menu">
                                    <li><a href="/MiddleWareHome#epic_mwGetUsages"><span class="glyphicon glyphicon-flash"></span>epic_mwGetUsages</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetVehAuthDrivers"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehAuthDrivers</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetVehColour"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehColour</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetVehMakeModels"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehMakeModels</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetVehRoofType"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehRoofType</a></li>
                                    <li><a href="/MiddleWareHome#epic_mwGetVehTransmissionType"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehTransmissionType</a></li>
                                </ul>
                            </li>
                            <li><a href="/MiddleWareHome#epic_mwGetOccupations"><span class="glyphicon glyphicon-flash"></span>epic_mwGetOccupations</a></li>
                            <li><a href="/MiddleWareHome#epic_mwGlobalNameGet"><span class="glyphicon glyphicon-flash"></span>epic_mwGlobalNameGet</a></li>
                            <li><a href="/MiddleWareHome#epic_mwIsBroker"><span class="glyphicon glyphicon-flash"></span>epic_mwIsBroker</a></li>
                            <li><a href="/MiddleWareHome#epic_mwIsClient"><span class="glyphicon glyphicon-flash"></span>epic_mwIsClient</a></li>
                            <li><a href="/MiddleWareHome#epic_mwVehDoNotInsure"><span class="glyphicon glyphicon-flash"></span>epic_mwVehDoNotInsure</a></li>
                            <li><a href="/MiddleWareHome#GetConcatenatedMakesAndModels"><span class="glyphicon glyphicon-flash"></span>GetConcatenatedMakesAndModels</a></li>
                           
                        </ul>
                    </li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                    }


                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
        <div class="navbar-fixed-bottom CustNav CustNav_ FooterHeight">
            <p class="text-center">&copy; 2015 - @DateTime.Now.Year  MiddleWare - All Rights Reserved.</p>
        </div>  
    </div>
    @*<nav class="navbar navbar-default navbar-fixed-bottom CustNav">
        <div class="container">
            <div class="BackButton"></div>

            <a class="btn btn-warning" href="#">Back to top</></a>
        </div>
        <div id="titlesearch"></div>
    </nav>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/CustomScripts/jquery.maskedinput.min.js"></script>
    <script src="~/CustomScripts/MaskedInput.js"></script>
    <script src="~/CustomScripts/QuotationScript.js"></script>
</body>
</html>
