﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="Users" ng-controller="myCtrl">
    <div id="SearchDiv" class="well">
        
        <table class="FullWidth">
            <tr>
                <td id="AddNew">
                    <button class="btn btn-info" data-toggle="modal" ng-click="ClearFields()" data-target="#NewUser"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; New User </button>
                </td>
                <td>
                    <input id="SearchBox" type="text" class="form-control FullWidth" placeholder="Search users" ng-model="UserSearch" />
                </td>
            </tr>
         </table>
        
        
    </div>
    <div>
        <table class="table-striped table-hover FullWidth TableBorder" id="UserList">
            <thead>
                <tr>
                    <th><b>ACTION</b></th>
                    <th><b>USERNAME</b></th>
                    <th><b>SOURCE NAME</b></th>
                    <th><b>EDI SOURCE</b></th>
                    <th><b>REGISTRY DESTINATION</b></th>
                    <th><b>TOTAL LOGIN</b></th>
                </tr>
            </thead>
             <tr ng-repeat="User in Users | filter:UserSearch" class="FullWidth">
                <td>
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-default" id="User.Id" ng-click="EditUser(User.Id , User.ApplicationSource , User.Email,User.EDISource,User.registry_destination)" data-toggle="modal" data-target="#EditUser">Edit <span class="glyphicon glyphicon-edit"></span></button>
                            </td>
                            <td>
                                <button class="btn btn-default" data-toggle="modal" ng-click="EditUser(User.Id , User.ApplicationSource , User.Email,User.EDISource,User.registry_destination)" data-target="#ResetUserPassword">Reset Password <span class="glyphicon glyphicon-refresh"></span></button>
                            </td>
                        </tr>
                    </table>
                
                 
                </td>
                <td>{{User.Email}}&nbsp;<b ng-init="Admin = 'Admin'" ng-if="User.UserRoleName" class="Roles"><i >({{User.UserRoleName}})</i></b></td>
                <td>{{User.ApplicationSource}}</td>
                <td>{{User.EDISource}}</td>
                <td>{{User.registry_destination}}</td>
                <td>{{User.TotalLogins | number}}</td>
                
            </tr>
        </table>
    </div>

    <div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label>Source Name</label>
                            <select class="form-control" ng-model="SourceName">
                                <option ng-repeat="User in UserSources">{{User}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>EDI Source</label>
                            <input type="text" class="form-control" ng-model="EDISource" />
                            
                        </div>

                        <div class="form-group">
                            <label>Registry Destination</label>
                            @*<input type="text" class="form-control" ng-model="registry_destination" />*@
                            <select class="form-control" ng-model="registry_destination">
                                <option ng-repeat="d in RegistryDepartments"> {{d}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>User Type</label>
                            <select class="form-control" ng-model="UserType">
                                <option>Regular</option>
                                <option>Admin</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="SaveUser()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Add New User</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Username<span class="Required">*</span></p>
                        <div>
                            <input type="text" class="form-control" ng-model="Email" ng-change="EmailCheck()"/>
                        </div>
                    </div>
                    <br />
                    <div>
                        <p>Password<span class="Required">*</span></p>
                        <div>
                            <input type="password" class="form-control" ng-model="Password" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <p>Confirm Password<span class="Required">*</span></p>
                        <div>
                            <input type="password" class="form-control" ng-model="ConfirmPassword" ng-change="Match()" />
                        </div>
                    </div>
                    <br />
                 <p id="Error" class="Error">{{ErrorMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="AddNewUser()">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    @*Reset Password*@

    <div class="modal fade" id="ResetUserPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Reset User Password</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Username<span class="Required">*</span></p>
                        <div>
                            <input type="text" class="form-control" ng-model="Email" readonly="readonly" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <p>New Password<span class="Required">*</span></p>
                        <div>
                            <input type="password" class="form-control" ng-model="Password" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <p>Confirm New Password<span class="Required">*</span></p>
                        <div>
                            <input type="password" class="form-control" ng-model="ConfirmPassword" ng-change="Match()" />
                        </div>
                    </div>
                    <br />
                    <p id="Errors" class="Error">{{ErrorMessages}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="ResetPassword()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>

