﻿@model Ucon.Models.ClientCheck

<div>
    <h4>ClientCheck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.national_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.national_id_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.national_id_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.global_name_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.global_name_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Index", new { /* id = Model.PrimaryKey */ }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
