﻿@model IEnumerable<Ucon.Models.DBModel.BorkerServer>

@{
    ViewBag.Title = "BrokerServers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well">
    <h2 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-cog"></span>Broker Servers</h2>
    <p class="text-center">
        Broker Server configurations
    </p>

</div>

<div class="list-group-item">

    <table class="TableList">
        <tr>
            <td>
                <input type="search" placeholder="Type Search here" id="BrokerSearchName"  class="form-control-search"/>
            </td>
            <td>
                <input type="button" value="Search" class="btn btn-success" id="SearchBrokers" />
            </td>
        </tr>
    </table>

</div>

<hr />
<div class="AddNew">
@Html.ActionLink("+ Add New Broker", "BrokerServer", "MiddleWareHome", null, htmlAttributes: new { @class = "btn btn-success" })
</div>

<hr />





<div class="list-group-item" id="ServerList">
    <table class="TableList">
        <tr>

            <th>
                <b>Broker Name</b>
            </th>
            <th>
                <b>Broker URL</b>
            </th>
            <th>
                <b>Company Code</b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BrokerName)
                </td>
                <td id="BrokerUrl">
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td id="CompanyCode">
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "BrokerServer", new { BrokerID = item.BrokerID }) |
                    @Html.ActionLink("Delete", "DeleteBrokerServer", new { BrokerID = item.BrokerID },htmlAttributes: new { @class = "Delete" })
                </td>
            </tr>
        }

    </table>
</div>



