﻿@model Ucon.Models.GetLocalCountries
@using Newtonsoft.Json.Linq;
<div>
    
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-globe"></span>Countries</h1>

        <div class="well">
            <table>
                <tr>
                    <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                    <td>
                        <p>
                            This method returns a JSON string containing an array of all countries.
                        </p>
                    </td>
                </tr>
            </table>

        </div>

        <h4>Resources</h4>
        <div class="well">
            <i>Method Name</i>
            <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCCountries</h5>

        </div>

        <div class="well">
            <i>Json Request Body</i>
            <p>
                {"resquestkey": {
                "key": "24d2fec6-313a-41d8-b2f5-838954908911"
                }}
            </p>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item active">
                Countries
            </a>

            @try
            {
                foreach (JToken Countires in Model.Countries["data"].Children())
                {
                    <a href="#" class="list-group-item FirstLetters">@Countires</a>
                }
            }
            catch (Exception)
            {

               @Html.Partial("ErrorLoading")
            }
            
        </div>

        <hr />
       

        <div class="list-group-item active">
            <i>Json Response</i>
            <p>
            @Model.Countries
            </p>
        </div>

    </div>


</div>

