﻿
<h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-file"></span>File Submit</h1>

<div class="well">
    
    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            <label for="file">Browse for your file</label>
            
            <div class="form-group">
                <input type="file" name="file" id="file" class="btn btn-success" />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload file" class="btn btn-success" />
            </div>
        </form>
    </div>

    <br />

    


</div>


<br />

<div class="well">
    <table>
        <tr>
            <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
            <td>
                <p>
                    This method creates or updates a file for the record specified using table and record_id.
                </p>
            </td>
        </tr>
    </table>

</div>

<h4>Resources</h4>
<div class="well">
    <i>Method Name</i>
    <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwSubmitFile</h5>

</div>

<div class="well">
    <i>Json Request Body</i>
    <p>
        {
        {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
        "table": "",
        "record_id": "",
        "file_id": "",
        "file_name": "",
        "file_type": "",
        "file_data": "",
        "description": ""
        }

    </p>
</div>

<br />

<div class="well CustNav CustNav_">
    
</div>

