﻿@model Ucon.Models.GlobalNamePolices

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Global Name Policy</h1>

        <div class="well CustNav CustNav_">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    <p><b>Enter your Global Name ID</b></p>
                    @Html.EditorFor(model => model.GlobalNameID, new { htmlAttributes = new { @class = "form-control", style = "width:80%;" } })
                    @Html.ValidationMessageFor(model => model.GlobalNameID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Submit Request" class="btn btn-warning" />
                </div>
            </div>
        </div>

    </div>
}



@if (Model.GlobalNamesPolicies.Count > 0)
{

    int PolicyCount = 1;
    int Insured = 1;
    int Locations = 1;
    int LocationsPhoneNumbers = 1;
    int PhoneNumbers = 1;
    int ToggleCount = 0;
    string Pol = "Pol";
    try
    {

        foreach (JToken Policies in Model.GlobalNamesPolicies["policies"].Children())
        {

            Pol = Pol + PolicyCount.ToString();

            <div class="list-group-item">
                <a class="btn btn-success" role="button" data-toggle="collapse" href="#@Pol.ToString()collapseExample" aria-expanded="false" aria-controls="@Pol.ToString()collapseExample">
                    <h6><b>Show Policy# @Policies["policy"]["policy_number"].ToString()</b></h6>
                </a>
                <div class="collapse" id="@Pol.ToString()collapseExample">
                    <div>
                        <div class="panel panel-default">
                            <div id="@PolicyCount.ToString()collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@PolicyCount.ToString()headingOne">
                                <div class="panel-body">
                                    <div class="well">
                                        <table>
                                            <tr>
                                                <td>Policy ID</td>
                                                <td><i>@Policies["policy"]["policy_id"].ToString()</i></td>
                                            </tr>
                                            <tr>
                                                <td>Policy Number</td>
                                                <td><i>@Policies["policy"]["policy_number"].ToString()</i></td>
                                            </tr>
                                            <tr>
                                                <td>Account Name</td>
                                                <td>@Policies["policy"]["account_name"].ToString()</td>
                                            </tr>

                                            <tr>
                                                <td>Agreed Value</td>
                                                <td>@Policies["policy"]["agreed_value"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Billing Code</td>
                                                <td>@Policies["policy"]["billing_account_code"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Branch</td>
                                                <td>@Policies["policy"]["branch"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Cancel Date</td>
                                                <td>@Policies["policy"]["cancel_date"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Cancel Reason Details</td>
                                                <td>@Policies["policy"]["cancel_reason_details"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Country</td>
                                                <td>@Policies["policy"]["country"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Currency</td>
                                                <td>@Policies["policy"]["currency"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Date for Renewal</td>
                                                <td>@Policies["policy"]["date_for_renewal"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Renewal Start Date</td>
                                                <td>@Policies["policy"]["date_for_renewal_to_start"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Proposal Sign Date</td>
                                                <td>@Policies["policy"]["date_proposal_signed"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Group Name</td>
                                                <td>@Policies["policy"]["group_name"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Effective Cancel Date</td>
                                                <td>@Policies["policy"]["effective_cancel_date"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Estimated Maximum Loss</td>
                                                <td>@Policies["policy"]["estimated_maximum_loss"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>End Date</td>
                                                <td>@Policies["policy"]["end_date"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Endorsements that Apply</td>
                                                <td>@Policies["policy"]["endorsements_that_apply"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Fa Excess Description</td>
                                                <td>@Policies["policy"]["fa_excess_description"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Fa Excess Percent</td>
                                                <td>@Policies["policy"]["fa_excess_percent"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Inception Date</td>
                                                <td>@Policies["policy"]["inception_date"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Cancelled</td>
                                                <td>@Policies["policy"]["is_cancelled"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Loss Of Profit Policy</td>
                                                <td>@Policies["policy"]["is_loss_of_profit_policy"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Premium Financed</td>
                                                <td>@Policies["policy"]["is_premium_financed"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Pre Existing Policy</td>
                                                <td>@Policies["policy"]["is_pre-existing_policy"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Occupancy</td>
                                                <td>@Policies["policy"]["occupancy"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Peryl Type</td>
                                                <td>@Policies["policy"]["peril_type"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Policy Prefix</td>
                                                <td>@Policies["policy"]["policy_prefix"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Sections That Don't Apply</td>
                                                <td>@Policies["policy"]["sections_that_dont_apply"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Source Account Code</td>
                                                <td>@Policies["policy"]["source_account_code"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Source Comm Rate</td>
                                                <td>@Policies["policy"]["source_comm_rate"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Source Name</td>
                                                <td>@Policies["policy"]["source_name"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Start Date</td>
                                                <td>@Policies["policy"]["start_date"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Territorial Limits</td>
                                                <td>@Policies["policy"]["territorial_limits"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Usage Category</td>
                                                <td>@Policies["policy"]["usage_category"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td>Warranties Do Not Apply</td>
                                                <td>@Policies["policy"]["warranties_do_not_apply"].ToString()</td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="well">
                                        <table>


                                            @foreach (JToken Insure in @Policies["policy"]["insured"].Children())
                                            {
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-success" role="button" data-toggle="collapse" href="#@ToggleCount.ToString()collapseExample" aria-expanded="false" aria-controls="@ToggleCount.ToString()collapseExample">
                                                            Show Insured Information #@Insured for Policy# @Policies["policy"]["policy_number"].ToString()
                                                        </a>
                                                        <div class="collapse" id="@ToggleCount.ToString()collapseExample">
                                                            <table>
                                                                <tr>
                                                                    <td>Is Main Insured</td>
                                                                    <td>@Insure["is_main_insured"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Global Name ID</td>
                                                                    <td>@Insure["global_name"]["global_name_id"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Global Name Number</td>
                                                                    <td>@Insure["global_name"]["global_name_number"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Company Name</td>
                                                                    <td>@Insure["global_name"]["company_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>DOB</td>
                                                                    <td>@Insure["global_name"]["dob"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Drivers Licence Country</td>
                                                                    <td>@Insure["global_name"]["drivers_licence_country"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Drivers Licence Start Date</td>
                                                                    <td>@Insure["global_name"]["drivers_licence_date_issued"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Drivers Licence First Issued</td>
                                                                    <td>@Insure["global_name"]["drivers_licence_first_issued"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Drivers Licence Number</td>
                                                                    <td>@Insure["global_name"]["drivers_licence_number"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email Address</td>
                                                                    <td>@Insure["global_name"]["email_address"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Employment Type</td>
                                                                    <td>@Insure["global_name"]["employment_type"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>First Name</td>
                                                                    <td>@Insure["global_name"]["first_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Last Name</td>
                                                                    <td>@Insure["global_name"]["last_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Gender</td>
                                                                    <td>@Insure["global_name"]["gender"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Is a Company</td>
                                                                    <td>@Insure["global_name"]["is_a_company"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Is a Service Provider</td>
                                                                    <td>@Insure["global_name"]["is_a_service_provider"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Maiden Name</td>
                                                                    <td>@Insure["global_name"]["maiden_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Mailing Name</td>
                                                                    <td>@Insure["global_name"]["mailing_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Marital Status</td>
                                                                    <td>@Insure["global_name"]["marital_status"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Middle Name</td>
                                                                    <td>@Insure["global_name"]["middle_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>National ID</td>
                                                                    <td>@Insure["global_name"]["national_id"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>National ID did not require</td>
                                                                    <td>@Insure["global_name"]["national_id_not_required"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>National ID Type</td>
                                                                    <td>@Insure["global_name"]["national_id_type"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Nationality</td>
                                                                    <td>@Insure["global_name"]["nationality"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Notes</td>
                                                                    <td>@Insure["global_name"]["notes"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Occupation</td>
                                                                    <td>@Insure["global_name"]["occupation"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Place of Birth</td>
                                                                    <td>@Insure["global_name"]["place_of_birth"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Salutation Name</td>
                                                                    <td>@Insure["global_name"]["salutation_name"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Service Type</td>
                                                                    <td>@Insure["global_name"]["service_type"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tax ID Number</td>
                                                                    <td>@Insure["global_name"]["tax_id_number"].ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Title</td>
                                                                    <td>@Insure["global_name"]["title"].ToString()</td>
                                                                </tr>


                                                            </table>
                                                        </div>

                                                    </td>
                                                </tr>


                                                foreach (JToken GphoneNumbers in Insure["global_name"]["phone_numbers"].Children())
                                                {
                                                    <tr>
                                                        <td>
                                                            <b><i style="color:#13a89e;">Phone# @LocationsPhoneNumbers</i></b>
                                                            <div>

                                                                <table>
                                                                    <tr>
                                                                        <td>Phone Number ID</td>
                                                                        <td>@GphoneNumbers["phone_number_id"].ToString()</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Type</td>
                                                                        <td>@GphoneNumbers["type"].ToString()</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Carrier</td>
                                                                        <td>@GphoneNumbers["carrier"].ToString()</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Extension or Range</td>
                                                                        <td>@GphoneNumbers["extension_or_range"].ToString()</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Phone Number</td>
                                                                        <td>@GphoneNumbers["phone_number"].ToString()</td>
                                                                    </tr>

                                                                </table>
                                                            </div>


                                                        </td>
                                                    </tr>
                                                    LocationsPhoneNumbers += 1;
                                                }

                                                foreach (JToken InsureLocations in Insure["global_name"]["locations"].Children())
                                                {
                                                    <tr>
                                                        <td>
                                                            <div>
                                                                <b><i style="color:#13a89e;">Address# @Locations</i></b>
                                                                @if (Locations <= InsureLocations.Children().Count())
                                                                {
                                                                    //Locations = 0;
                                                                    <table>

                                                                        <tr>
                                                                            <td>Location ID</td>
                                                                            <td>@InsureLocations["location_id"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Is Main Location</td>
                                                                            <td>@InsureLocations["is_main_location"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Is Mailing Address</td>
                                                                            <td>@InsureLocations["is_mailing_address"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Altitude</td>
                                                                            <td>@InsureLocations["altitude"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Block</td>
                                                                            <td>@InsureLocations["block"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Building Label</td>
                                                                            <td>@InsureLocations["building_label"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Building Number</td>
                                                                            <td>@InsureLocations["building_number"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Complex Name</td>
                                                                            <td>@InsureLocations["complex_name"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Country</td>
                                                                            <td>@InsureLocations["country"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>General Area</td>
                                                                            <td>@InsureLocations["general_area"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Is International Area</td>
                                                                            <td>@InsureLocations["international_area"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Is International Address</td>
                                                                            <td>@InsureLocations["is_international_address"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Island</td>
                                                                            <td>@InsureLocations["island"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Latitude</td>
                                                                            <td>@InsureLocations["latitude"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Logitude</td>
                                                                            <td>@InsureLocations["longitude"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Parish</td>
                                                                            <td>@InsureLocations["parish"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Postal Zip Code</td>
                                                                            <td>@InsureLocations["postal_zip_code"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Street Name</td>
                                                                            <td>@InsureLocations["street_name"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Street Number</td>
                                                                            <td>@InsureLocations["street_number"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Street Type</td>
                                                                            <td>@InsureLocations["street_type"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Town</td>
                                                                            <td>@InsureLocations["town"].ToString()</td>
                                                                        </tr>

                                                                    </table>
                                                                }

                                                            </div>


                                                            @foreach (JToken InsuredLocationsPhoneNumber in InsureLocations["phone_numbers"].Children())
                                                            {


                                                                <div>

                                                                    <b><i style="color:#13a89e;">Main Phone# @PhoneNumbers</i></b>

                                                                    <table>

                                                                        <tr>
                                                                            <td>Phone Number ID</td>
                                                                            <td>@InsureLocations["phone_number_id"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Type</td>
                                                                            <td>@InsureLocations["type"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Carrier</td>
                                                                            <td>@InsureLocations["carrier"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Extension or Range</td>
                                                                            <td>@InsureLocations["extension_or_range"].ToString()</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Phone Number</td>
                                                                            <td>@InsureLocations["phone_number"].ToString()</td>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                PhoneNumbers += 1;

                                                            }

                                                        </td>

                                                    </tr>
                                                    Locations += 1; PhoneNumbers = 1; LocationsPhoneNumbers = 1;
                                                }

                                                @*</table>*@
                                                Insured += 1;
                                                ToggleCount += 1;
                                                Locations = 1;
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

           
            Locations = 1;
            Insured = 1;
            PolicyCount += 1;
        }

        <div class="list-group-item">
            <a class="btn btn-warning" role="button" data-toggle="collapse" href="#collapseJson" aria-expanded="false" aria-controls="collapseJson">
                <h6>Show Json Response</h6>
            </a>
            <div class="collapse" id="collapseJson">
                <div class="list-group-item active">
                    <i>Json Response</i>
                    <p>
                        @Model.GlobalNamesPolicies
                    </p>
                </div>
            </div>

        </div>
       
    }
    catch (Exception)
    {

        @Html.Partial("ErrorLoading");
    }


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
