﻿@model Ucon.Models.GlobalNameGet
@using Newtonsoft.Json.Linq
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-user"></span>Global Name Search</h1>
        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.GlobalNumber,"Enter Global Name ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GlobalNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GlobalNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit Request" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}


<div class="container">


    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing the global name details for global name number passed.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGlobalNameGet</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {"param":1000}
            }
        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Global Name Search
        </a>

        @try
        {

            if (Model.GlobalNames.Count > 0)
            {
                int LocationCount = 0;
                int PhoneNumberCount = 0;
                int MainPhoneNumberCount = 0;

                <div class="well">
                    <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><b>Global Name</b></h5>
                    <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-user"></span>    @Model.GlobalNames["global_name"]["title"].ToString(). @Model.GlobalNames["global_name"]["first_name"].ToString() @Model.GlobalNames["global_name"]["middle_name"].ToString(), @Model.GlobalNames["global_name"]["last_name"].ToString()</h5>
                    <p><b>Company:</b>  <h4>@Model.GlobalNames["global_name"]["company_name"].ToString()</h4></p>
                    <p><b>Global Name ID</b> <i style="color:#ff6a00;"> @Model.GlobalNames["global_name"]["global_name_id"].ToString()</i></p>
                   
                     <hr />

                    <table>
                        <tr>
                            <td><b>Salutation Name</b></td>
                            <td>@Model.GlobalNames["global_name"]["salutation_name"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Maiden Name</b></td>
                            <td>@Model.GlobalNames["global_name"]["maiden_name"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Mailing Name</b></td>
                            <td>@Model.GlobalNames["global_name"]["mailing_name"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Marital Status</b></td>
                            <td>@Model.GlobalNames["global_name"]["marital_status"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Gender</b></td>
                            <td>@Model.GlobalNames["global_name"]["gender"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Dob</b></td>
                            <td>@Model.GlobalNames["global_name"]["dob"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Drivers Licence Country</b></td>
                            <td>@Model.GlobalNames["global_name"]["drivers_licence_country"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Drivers Licence Date Issued</b></td>
                            <td>@Model.GlobalNames["global_name"]["drivers_licence_date_issued"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Drivers Licence First Issued</b></td>
                            <td>@Model.GlobalNames["global_name"]["drivers_licence_first_issued"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Drivers Licence Number</b></td>
                            <td>@Model.GlobalNames["global_name"]["drivers_licence_number"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Email Address</b></td>
                            <td>@Model.GlobalNames["global_name"]["email_address"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Employment Type</b></td>
                            <td>@Model.GlobalNames["global_name"]["employment_type"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Is Company</b></td>
                            <td>@Model.GlobalNames["global_name"]["is_a_company"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Service Provider</b></td>
                            <td>@Model.GlobalNames["global_name"]["is_a_service_provider"].ToString()</td>
                        </tr>                 
                        <tr>
                            <td><b>National ID</b></td>
                            <td>@Model.GlobalNames["global_name"]["national_id"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>National Id Not Required</b></td>
                            <td>@Model.GlobalNames["global_name"]["national_id_not_required"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>National ID Type</b></td>
                            <td>@Model.GlobalNames["global_name"]["national_id_type"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Nationality</b></td>
                            <td>@Model.GlobalNames["global_name"]["nationality"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Occupation</b></td>
                            <td>@Model.GlobalNames["global_name"]["occupation"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Place Of Birth</b></td>
                            <td>@Model.GlobalNames["global_name"]["place_of_birth"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Service Type</b></td>
                            <td>@Model.GlobalNames["global_name"]["service_type"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Tax ID Number</b></td>
                            <td>@Model.GlobalNames["global_name"]["tax_id_number"].ToString()</td>
                        </tr>
                       
                    </table>

                        <div>
                            <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-pencil"></span><b>  Notes</b></h5>
                            <p>@Model.GlobalNames["global_name"]["notes"].ToString()</p>
                        </div>


                        <hr />
                        <div>
                            <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-phone"></span> <b>Phone</b></h5>
                                    @foreach (JToken Phone in Model.GlobalNames["global_name"]["phone_numbers"].Children())
                                    {
                                        <table>
                                            <tr>
                                                <td><b>Phone ID#</b></td>
                                                <td>@Model.GlobalNames["global_name"]["phone_numbers"][MainPhoneNumberCount]["phone_number_id"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td><b>Type</b></td>
                                                <td>@Model.GlobalNames["global_name"]["phone_numbers"][MainPhoneNumberCount]["type"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td><b>Carrier</b></td>
                                                <td>@Model.GlobalNames["global_name"]["phone_numbers"][MainPhoneNumberCount]["carrier"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td><b>Extension or Range</b></td>
                                                <td>@Model.GlobalNames["global_name"]["phone_numbers"][MainPhoneNumberCount]["extension_or_range"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td><b>Phone#</b></td>
                                                <td>@Model.GlobalNames["global_name"]["phone_numbers"][MainPhoneNumberCount]["phone_number"].ToString()</td>
                                            </tr>

                                        </table>
                                        <hr />

                                        MainPhoneNumberCount += 1;
                                    }

                        </div>

                    
                   
                </div>

                <hr />

                <div class="well">
                                        
                    @foreach (JToken GName in Model.GlobalNames["global_name"]["locations"].Children())
                    {
                        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-map-marker"></span> <b>LOCATION</b></h5>

                        <table>
                            <tr>
                                <td><b>Location Number</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["location_id"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Is Main Location</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["is_main_location"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Altitude</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["altitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b><b>Block</b></b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["block"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Building Label</b></td>
                                <td>@try { Model.GlobalNames["global_name"]["locations"][LocationCount]["building_label"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Building Number</b></td>
                                <td>@try { Model.GlobalNames["global_name"]["locations"][LocationCount]["building_number"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Complex Name</b></td>
                                <td>@try { Model.GlobalNames["global_name"]["locations"][LocationCount]["complex_name"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Country</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["country"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>General Area</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["general_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>International Area</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["international_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Is International Address</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["is_international_address"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Island</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["island"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Latitude</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["latitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Longitude</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["longitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Parish</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["parish"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Postal Zip Code</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["postal_zip_code"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Name</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["street_name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street#</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["street_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Type</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["street_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Town</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["town"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Unit#</b></td>
                                <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["unit_number"].ToString()</td>
                            </tr>
                            
                        </table>

                        <hr />

                        <div>
                            <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-phone"></span><b>Phone at this location</b></h5>
                            
                            @foreach (JToken Phone in Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"].Children())
                            {
                                <table>
                                    <tr>
                                        <td><b>Phone ID#</b></td>
                                        <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"][PhoneNumberCount]["phone_number_id"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Type</b></td>
                                        <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"][PhoneNumberCount]["type"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Carrier</b></td>
                                        <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"][PhoneNumberCount]["carrier"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Extension or Rang</b>e</td>
                                        <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"][PhoneNumberCount]["extension_or_range"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Phone#</b></td>
                                        <td>@Model.GlobalNames["global_name"]["locations"][LocationCount]["phone_numbers"][PhoneNumberCount]["phone_number"].ToString()</td>
                                    </tr>
                                   
                                </table>
                                <hr />

                                PhoneNumberCount += 1;
                            }
                            

                        </div>

                        LocationCount += 1;

                    }

                </div>



            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />


    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.GlobalNames["global_name"]
        </p>
    </div>

</div>
