﻿@model Ucon.Models.GetPolicy
@using Newtonsoft.Json.Linq

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Data</h1>
      
        <div class="well">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
             
                <div class="col-md-10">
                    <p><b>Enter your Policy ID</b></p>
                    @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Submit Request" class="btn btn-success" />
                </div>
            </div>
        </div>
      
    </div>
}

@*<a class="btn btn-success" role="button" data-toggle="collapse" href="#@Pol.ToString()collapseExample" aria-expanded="false" aria-controls="@Pol.ToString()collapseExample">
    <h6><b>Show Policy# @Policies["policy"]["policy_number"].ToString()</b></h6>
</a>
<div class="collapse" id="@Pol.ToString()collapseExample">

</div>*@

    @{
        JObject Policies = new JObject();
        Policies = Model.PolicyData;
        int InsuredCount = 1;

    }

    @if (Model.PolicyData != null)
    {
        try
        {
            <div class="well">
                <div class="list-group-item active">
                    <p>Policy Number @Policies["policy"]["policy_number"].ToString()</p>
                </div>
                <div class="list-group-item">
                    <table>
                        <tr>
                            <td>Policy ID</td>
                            <td><i>@Policies["policy"]["policy_id"].ToString()</i></td>
                        </tr>
                        <tr>
                            <td>Policy Number</td>
                            <td><i>@Policies["policy"]["policy_number"].ToString()</i></td>
                        </tr>
                        <tr>
                            <td>Agreed Value</td>
                            <td>@Policies["policy"]["agreed_value"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Auto Renewal</td>
                            <td>@Policies["policy"]["auto_renewal"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>@Policies["policy"]["branch"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>@Policies["policy"]["currency"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Proposal Sign Date</td>
                            <td>@Policies["policy"]["date_proposal_signed"].ToString()</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>@Policies["policy"]["end_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Memo</td>
                            <td>@Policies["policy"]["memo"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Occupancy</td>
                            <td>@Policies["policy"]["occupancy"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Policy Prefix</td>
                            <td>@Policies["policy"]["policy_prefix"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Source Global Name ID</td>
                            <td>@Policies["policy"]["source_global_name_id"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>@Policies["policy"]["start_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td>Usage Category</td>
                            <td>@Policies["policy"]["usage_category"].ToString()</td>
                        </tr>

                    </table>
                </div>

                <br />

                <div>
                    @foreach (JToken Insured in Policies["policy"]["insureds"].Children())
                    {
                        <div class="list-group-item active">
                            <p>Insured# @InsuredCount</p>
                        </div>
                        <div class="list-group-item">
                            <table>
                                <tr>
                                    <td>Is Main Insured</td>
                                    <td><i>@Insured["is_main_insured"].ToString()</i></td>
                                </tr>
                                <tr>
                                    <td>ID#</td>
                                    <td><i>@Insured["national_id"].ToString()</i></td>
                                </tr>
                                <tr>
                                    <td>ID Type</td>
                                    <td><i>@Insured["national_id_type"].ToString()</i></td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        InsuredCount += 1;
                    }
                </div>
            </div>



            foreach (JToken Insure in @Policies["global_names"].Children())
            {
               <div>
                   <a class="btn btn-success" role="button" data-toggle="collapse" href="#@Insure["global_name_number"].ToString()collapseExample" aria-expanded="false" aria-controls="@Insure["global_name_number"].ToString()collapseExample">
                       <h6><b>Global Name# @Insure["global_name_number"].ToString()</b></h6>
                   </a>
                   <div class="collapse" id="@Insure["global_name_number"].ToString()collapseExample">
                       <div class="well">
                           <div>
                               <div class="list-group-item active">
                                   <p>Global Name ID @Insure["global_name_id"].ToString()</p>
                               </div>
                               <div class="list-group-item">
                                   <table>
                                       <tr>
                                           <td>Global Name ID</td>
                                           <td>@Insure["global_name_id"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Global Name Number</td>
                                           <td>@Insure["global_name_number"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Company Name</td>
                                           <td>@Insure["company_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>DOB</td>
                                           <td>@Insure["dob"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Drivers Licence Country</td>
                                           <td>@Insure["drivers_licence_country"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Drivers Licence Start Date</td>
                                           <td>@Insure["drivers_licence_date_issued"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Drivers Licence First Issued</td>
                                           <td>@Insure["drivers_licence_first_issued"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Drivers Licence Number</td>
                                           <td>@Insure["drivers_licence_number"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Email Address</td>
                                           <td>@Insure["email_address"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Employment Type</td>
                                           <td>@Insure["employment_type"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>First Name</td>
                                           <td>@Insure["first_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Last Name</td>
                                           <td>@Insure["last_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Gender</td>
                                           <td>@Insure["gender"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Is a Company</td>
                                           <td>@Insure["is_a_company"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Is a Service Provider</td>
                                           <td>@Insure["is_a_service_provider"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Maiden Name</td>
                                           <td>@Insure["maiden_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Mailing Name</td>
                                           <td>@Insure["mailing_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Marital Status</td>
                                           <td>@Insure["marital_status"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Middle Name</td>
                                           <td>@Insure["middle_name"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>National ID</td>
                                           <td>@Insure["national_id"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>National ID Type</td>
                                           <td>@Insure["national_id_type"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Nationality</td>
                                           <td>@Insure["nationality"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Notes</td>
                                           <td>@Insure["notes"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Occupation</td>
                                           <td>@Insure["occupation"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Place of Birth</td>
                                           <td>@Insure["place_of_birth"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Tax ID Number</td>
                                           <td>@Insure["tax_id_number"].ToString()</td>
                                       </tr>
                                       <tr>
                                           <td>Title</td>
                                           <td>@Insure["title"].ToString()</td>
                                       </tr>


                                   </table>
                               </div>

                               <div>
                                   @foreach (JToken GphoneNumbers in Insure["phone_numbers"].Children())
                                   {
                                       <h4 class="list-group-item"><span style="color:#13a89e;" class="glyphicon glyphicon-phone-alt"> Phone</span></h4>
                                       <div class="list-group-item">
                                           <table>
                                               <tr>
                                                   <td>Phone Number ID</td>
                                                   <td>@GphoneNumbers["phone_number_id"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Type</td>
                                                   <td>@GphoneNumbers["type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Carrier</td>
                                                   <td>@GphoneNumbers["carrier"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Extension or Range</td>
                                                   <td>@GphoneNumbers["extension_or_range"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Phone Number</td>
                                                   <td>@GphoneNumbers["phone_number"].ToString()</td>
                                               </tr>

                                           </table>
                                       </div>

                                   }
                               </div>
                               <br />
                               <div>
                                   @foreach (JToken InsureLocations in Insure["locations"].Children())
                                   {
                                       <div>
                                           <h4 class="list-group-item"><i style="color:#13a89e;" class="glyphicon glyphicon-pushpin"> Location Address</i></h4>
                                           <div class="list-group-item">
                                               <table>

                                                   <tr>
                                                       <td>Location ID</td>
                                                       <td>@InsureLocations["location_id"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is Main Location</td>
                                                       <td>@InsureLocations["is_main_location"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Altitude</td>
                                                       <td>@InsureLocations["altitude"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Block</td>
                                                       <td>@InsureLocations["block"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Building Label</td>
                                                       <td>@InsureLocations["building_label"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Building Number</td>
                                                       <td>@InsureLocations["building_number"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Complex Name</td>
                                                       <td>@InsureLocations["complex_name"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Country</td>
                                                       <td>@InsureLocations["country"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>General Area</td>
                                                       <td>@InsureLocations["general_area"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is International Area</td>
                                                       <td>@InsureLocations["international_area"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is International Address</td>
                                                       <td>@InsureLocations["is_international_address"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Island</td>
                                                       <td>@InsureLocations["island"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Latitude</td>
                                                       <td>@InsureLocations["latitude"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Logitude</td>
                                                       <td>@InsureLocations["longitude"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Parish</td>
                                                       <td>@InsureLocations["parish"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Postal Zip Code</td>
                                                       <td>@InsureLocations["postal_zip_code"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Street Name</td>
                                                       <td>@InsureLocations["street_name"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Street Number</td>
                                                       <td>@InsureLocations["street_number"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Street Type</td>
                                                       <td>@InsureLocations["street_type"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Town</td>
                                                       <td>@InsureLocations["town"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Unit Number</td>
                                                       <td>@InsureLocations["unit_number"].ToString()</td>
                                                   </tr>

                                               </table>
                                           </div>

                                           <div>
                                               @foreach (JToken InsuredLocationsPhoneNumber in InsureLocations["phone_numbers"].Children())
                                               {

                                                   <div>
                                                       <h4 class="list-group-item"><span style="color:#13a89e;" class="glyphicon glyphicon-phone"></span></h4>
                                                       <div class="list-group-item">
                                                           <table>
                                                               <tr>
                                                                   <td>Phone Number ID</td>
                                                                   <td>@InsureLocations["phone_number_id"].ToString()</td>
                                                               </tr>
                                                               <tr>
                                                                   <td>Type</td>
                                                                   <td>@InsureLocations["type"].ToString()</td>
                                                               </tr>
                                                               <tr>
                                                                   <td>Carrier</td>
                                                                   <td>@InsureLocations["carrier"].ToString()</td>
                                                               </tr>
                                                               <tr>
                                                                   <td>Extension or Range</td>
                                                                   <td>@InsureLocations["extension_or_range"].ToString()</td>
                                                               </tr>
                                                               <tr>
                                                                   <td>Phone Number</td>
                                                                   <td>@InsureLocations["phone_number"].ToString()</td>
                                                               </tr>

                                                           </table>
                                                       </div>
                                                   </div>

                                               }
                                           </div>
                                       </div>

                                   }
                               </div>




                           </div>

                       </div>
                       <div class="well">
                           <div>
                               @foreach (JToken Risk in Policies["risks"].Children())
                        {
                                   <div>
                                       <p class="list-group-item active"><i class="glyphicon glyphicon-user"> Risk ID @Risk["risk_id"].ToString()</i></p>
                                       <div class="list-group-item">
                                           <table>
                                               <tr>
                                                   <td>Risk ID</td>
                                                   <td>@Risk["risk_id"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Is Deleted</td>
                                                   <td>@Risk["is_deleted"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Sum Insured</td>
                                                   <td>@int.Parse(Risk["sum_insured"].ToString()).ToString("c2")</td>
                                               </tr>
                                               <tr>
                                                   <td>Authorized Driver Wording</td>
                                                   <td>@Risk["authorized_driver_wording"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Year For Rating</td>
                                                   <td>@Risk["year_for_rating"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Year</td>
                                                   <td>@Risk["year"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Make</td>
                                                   <td>@Risk["make"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Model</td>
                                                   <td>@Risk["model"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Model Type</td>
                                                   <td>@Risk["model_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Extension</td>
                                                   <td>@Risk["extension"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Body Type</td>
                                                   <td>@Risk["body_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Body Shape</td>
                                                   <td>@Risk["body_shape"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>HP CC Rating</td>
                                                   <td>@Risk["hp_cc_rating"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>HP CC Unit Type</td>
                                                   <td>@Risk["hp_cc_unit_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Chassis Number</td>
                                                   <td>@Risk["chassis_number"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Number Of Cyclinders</td>
                                                   <td>@Risk["number_of_cyclinders"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Engine Modified</td>
                                                   <td>@Risk["engine_modified"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Engine Number</td>
                                                   <td>@Risk["engine_number"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Engine Type</td>
                                                   <td>@Risk["engine_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Risk ID</td>
                                                   <td>@Risk["has_electric_doors"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Has Electric Doors</td>
                                                   <td>@Risk["has_electric_side_mirror"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Has Electric Windows</td>
                                                   <td>@Risk["has_electric_window"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Has Power Steering</td>
                                                   <td>@Risk["has_power_steering"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Import Type</td>
                                                   <td>@Risk["import_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Left Hand Drive</td>
                                                   <td>@Risk["left_hand_drive"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Main Driver DOB</td>
                                                   <td>@Risk["main_driver_dob"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Main Drivers Licence First Issued</td>
                                                   <td>@Risk["main_drivers_licence_first_issued"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Mileage</td>
                                                   <td>@Risk["mileage"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Mileage Type</td>
                                                   <td>@Risk["mileage_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Number of Doors</td>
                                                   <td>@Risk["number_of_doors"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Number Or Engines</td>
                                                   <td>@Risk["number_of_engines"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Registration Number</td>
                                                   <td>@Risk["registration_number"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Roof Type</td>
                                                   <td>@Risk["roof_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Seat Type</td>
                                                   <td>@Risk["seat_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Seating</td>
                                                   <td>@Risk["seating"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Tonnage</td>
                                                   <td>@Risk["tonnage"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Transmission Type</td>
                                                   <td>@Risk["transmission_type"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Type Of License</td>
                                                   <td>@Risk["type_of_license"].ToString()</td>
                                               </tr>
                                               <tr>
                                                   <td>Vehicle Registered Location</td>
                                                   <td>@Risk["vehicle_registered_location"].ToString()</td>
                                               </tr>

                                           </table>
                                       </div>
                                   </div>

                                   <div>
                                       @foreach (JToken Driver in Risk["drivers"].Children())
                                       {
                                           <h4 class="list-group-item"><i style="color:#13a89e;" class="glyphicon glyphicon-road"> Driver</i></h4>
                                           <div class="list-group-item">
                                               <table>
                                                   <tr>
                                                       <td>Driver ID</td>
                                                       <td>@Driver["driver_id"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is Excluded</td>
                                                       <td>@Driver["is_excluded"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is Included by Exception</td>
                                                       <td>@Driver["is_included_by_exception"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Is Main Driver</td>
                                                       <td>@Driver["is_main_driver"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>National ID</td>
                                                       <td>@Driver["national_id"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>National ID Type</td>
                                                       <td>@Driver["national_id_type"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Relation To Insured</td>
                                                       <td>@Driver["relation_to_insured"].ToString()</td>
                                                   </tr>
                                               </table>
                                           </div>
                                       }
                                   </div>

                                   <div>
                                       @try
                                       {
                                           foreach (JToken ManualRate in Risk["manual_rates"].Children())
                                           {
                                               <h4 class="list-group-item"><i style="color:#13a89e;" class="glyphicon glyphicon-usd">Manual Rate</i></h4>
                                               <div class="list-group-item">
                                                   <table>
                                                       <tr>
                                                           <td>Code</td>
                                                           <td>@ManualRate["code"].ToString()</td>
                                                       </tr>
                                                       <tr>
                                                           <td>Value</td>
                                                           <td>@ManualRate["value"].ToString()</td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           }
                                       }
                                       catch (Exception)
                                       {


                                       }

                                   </div>

                                   <div>
                                       @foreach (JToken Mortgagees in Risk["mortgagees"].Children())
                                       {
                                           <h4 class="list-group-item"><i style="color:#13a89e;" class="glyphicon glyphicon-usd">Mortgagees</i></h4>
                                           <div class="list-group-item">
                                               <table>
                                                   <tr>
                                                       <td>Mortgagee ID</td>
                                                       <td>@Mortgagees["mortgagee_id"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Branch</td>
                                                       <td>@Mortgagees["branch"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Currency</td>
                                                       <td>@Mortgagees["currency"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>National ID</td>
                                                       <td>@Mortgagees["national_id"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>National ID Type</td>
                                                       <td>@Mortgagees["national_id_type"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Notes</td>
                                                       <td>@Mortgagees["notes"].ToString()</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Original Loan Amount</td>
                                                       <td>@int.Parse(Mortgagees["original_loan_amount"].ToString()).ToString("c2")</td>
                                                   </tr>
                                               </table>
                                           </div>
                                       }
                                   </div>

                               }
                           </div>

                       </div>

                   </div>
               </div>

               <br />
               
            }
        }
        catch (Exception E)
        {
            @*<div>@E.Message</div>*@
        }



    }

<a class="btn btn-warning" role="button" data-toggle="collapse" href="#JresponsecollapseExample" aria-expanded="false" aria-controls="JresponsecollapseExample">
<h6><b>Show JSON Response</b></h6>
</a>
<div class="collapse" id="JresponsecollapseExample">
    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.PolicyData
        </p>
    </div>
</div>
    
