﻿@model Ucon.Models.PolicyLimit

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Get Policy Limits</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                <p><b>Enter your PolicyID</b></p>
                @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit your request" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

<div>

    @if (Model.PolicyData.Count > 0)
    {
        try
        {
            int ExtCount = 0;
           foreach (JToken Limits in Model.PolicyData["limits"].Children())
            {
                <div class="well">
                    <b style="color:#13a89e;">Limit#</b><i>@ExtCount</i>
                    <table>
                        <tr>
                            <td><b>Limit ID</b></td>
                            <td>@Model.PolicyData["limits"][ExtCount]["limit_id"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Code</b></td>
                            <td>@Model.PolicyData["limits"][ExtCount]["code"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Heading</b></td>
                            <td>@Model.PolicyData["limits"][ExtCount]["heading"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Limit</b></td>
                            <td>@int.Parse(Model.PolicyData["limits"][ExtCount]["limit"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>@Model.PolicyData["limits"][ExtCount]["description"].ToString()</td>
                        </tr>
                        
                    </table>
                </div>
                ExtCount += 1;

            }
        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading");
        }

    }


</div>

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.PolicyData
    </p>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
