﻿@model Ucon.Models.PolicyTransactions

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Transactions</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                <p><b>Enter your PolicyID</b></p>
                @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit Request" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>

    @if (Model.PolicyData.Count > 0)
    {
        try
        {
            int ExtCount = 0;
            foreach (JToken transactions in Model.PolicyData["transactions"].Children())
            {
                <div class="well">
                    <b style="color:#13a89e;">Transaction#</b><i>@ExtCount</i>
                    <table>
                        <tr>
                            <td><b>Transaction ID</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["transaction_id"].ToString()</td>
                        </tr>
                         <tr>
                            <td><b>Endorsement Number</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["endorsement_number"].ToString()</td>
                        </tr>
                        
                        <tr>
                            <td><b>Billing Account</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["billing_account"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Broker Reference ID</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["broker_reference_id"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Currency</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["currency"].ToString()</td>
                        </tr>
                         <tr>
                            <td><b>Description</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["description"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Effective Date</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["effective_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Effective Expiry Date</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["effective_expiry_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Effective Text</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["effective_text"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Estimated Maximum Los</b></td>
                            <td>@int.Parse(Model.PolicyData["transactions"][ExtCount]["estimated_maximum_loss"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>FA Excess Percent</b></td>
                            <td>@int.Parse(Model.PolicyData["transactions"][ExtCount]["fa_excess_percent"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Gross Premium</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["gross_premium"].ToString()).ToString("c2")</td>
                        </tr>
                       
                        <tr>
                            <td><b>Mar Duty Value</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["mar_duty_value"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Policy End Date</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["policy_end_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Policy Number</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["policy_number"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Policy Start Date</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["policy_start_date"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Policy Year</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["policy_year"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Service Charge</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["service_charge"].ToString()).ToString("c2")</td>
                        </tr>
                        
                        <tr>
                            <td><b>Source Commission Amount</b></td>
                            <td>
                                @double.Parse(Model.PolicyData["transactions"][ExtCount]["source_commission_amount"].ToString()).ToString("c2")
                           </td>
                        </tr>
                        <tr>
                            <td><b>Source Commission Rate</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["source_commission_rate"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Stamp Duty</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["stamp_duty"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Stamp Duty Percent</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["stamp_duty_percent"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Tax Percent</b></td>
                            <td>@double.Parse(Model.PolicyData["transactions"][ExtCount]["tax_percent"].ToString()).ToString("c2")</td>
                        </tr>
                        <tr>
                            <td><b>Transaction Type</b></td>
                            <td>@Model.PolicyData["transactions"][ExtCount]["transaction_type"].ToString()</td>
                        </tr>
                        
                    </table>
                </div>
                ExtCount += 1;

            }
        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading");
        }

    }


</div>

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.PolicyData
    </p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
