﻿@model Ucon.Models.GetPolicyRisks

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Risks</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                <p><b>Enter your PolicyID</b></p>
                @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Sumbit Request" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>

    @if (Model.PolicyData.Count > 0)
    {
        try { } catch (Exception) { }
        try
        {
            int ExtCount = 0;
            int Drivers = 0;

            foreach (JToken Extension in Model.PolicyData["risks"].Children())
            {
                if ((bool)Model.PolicyData["is_motor_risk"] == false)
                {

                    <div class="well">
                        <b style="color:#13a89e;">Risk#</b><i>@ExtCount</i>
                        <table>
                            <tr>
                                <td><b>Risk ID</b></td>
                                <td><i>@Model.PolicyData["risks"][ExtCount]["risk_id"].ToString()</i></td>
                            </tr>
                            <tr>
                                <td><b>Risk Item Type</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["risk_item_type"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Sum Insured</b></td>
                                <td>@try { int.Parse(Model.PolicyData["risks"][ExtCount]["sum_insured"].ToString()).ToString("c2"); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Sum Insured Type</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["sum_insured_type"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Usage Code</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["usage_code"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Building Year Built</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["building_year_built"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Construction of Roof</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["construction_of_roof"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Construction of Wall</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["construction_of_wall"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Exposure or Declared Value</b></td>
                                <td>@try { int.Parse(Model.PolicyData["risks"][ExtCount]["exposure_or_declared_value"].ToString()).ToString("c2"); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Exposure or Declared Description</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["exposure_declared_description"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Height in Storeys</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["height_in_storeys"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Risk Details Label</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["risk_details_label"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Risk Details Text</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["risk_details_text"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Short Description</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["short_description"].ToString(); } catch (Exception) { } </td>
                            </tr>
                            <tr>
                                <td><b>Occupancy</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["occupancy"].ToString(); } catch (Exception) { }</td>
                            </tr>
                            <tr>
                                <td><b>Travel Benefit Type</b></td>
                                <td>@try { Model.PolicyData["risks"][ExtCount]["travel_benefit_type"].ToString(); } catch (Exception) { } </td>
                            </tr>

                            <tr>
                                <td>
                                    <hr />
                                    <p>
                                        <b style="color:#13a89e;"></b><i><span class="glyphicon glyphicon-home">  Address Risk#@ExtCount</span></i>
                                    </p>
                                </td>
                            </tr>


                            <tr>
                                <td><b>Altitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["altitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Block</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["block"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Building Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["building_number"].ToString()</td>
                            </tr>
                            @*<tr>
                                    <td><b>Categorization</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["address"]["categorization"].ToString()</td>
                                </tr>*@
                            <tr>
                                <td><b>Complex Name</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["complex_name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Country</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["country"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>General Area</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["general_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>International Area</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["international_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Is International Address</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["is_international_address"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Island</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["island"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Altitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["latitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Location Class</b></td>
                                @*<td>@Model.PolicyData["risks"][ExtCount]["address"]["locaction_class"].ToString()</td>*@
                            </tr>
                            <tr>
                                <td><b>Longitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["longitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Parish</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["parish"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Postal Zip Code</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["postal_zip_code"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Name</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["street_name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["street_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["street_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Town</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["town"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Unit Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["address"]["unit_number"].ToString()</td>
                            </tr>

                        </table>
                    </div>

                }

                else if ((bool)Model.PolicyData["is_motor_risk"] == true)
                {
                    //Motor Risks

                    <div class="well">
                        <b style="color:#13a89e;">Risk#</b><i>@ExtCount</i>
                        <table>
                            <tr>
                                <td><b>Risk ID</b></td>
                                <td><i>@Model.PolicyData["risks"][ExtCount]["risk_id"].ToString()</i></td>
                            </tr>
                            <tr>
                                <td><b>Sum Insured</b></td>
                                <td><b>@double.Parse(Model.PolicyData["risks"][ExtCount]["sum_insured"].ToString()).ToString("c2")</b></td>
                            </tr>
                            <tr>
                                <td><b>Usage Code</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["usage_code"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Authorized Driver Wording</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["authorized_driver_wording"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Year for Rating</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["year_for_rating"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Year</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["year"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Make</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["make"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Model</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["model"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Model Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["model_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Extension</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["extension"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Body Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["body_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Body Shape</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["body_shape"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Hp cc Rating</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["hp_cc_rating"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Hp cc Unit Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["hp_cc_unit_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Chassis Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["chassis_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Colour</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["colour"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Number of Cylinders</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["number_of_cyclinders"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Engine Modified</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["engine_modified"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Engine Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["engine_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Engine Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["engine_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Has Electric Doors</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["has_electric_doors"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Has Electric Side Mirrors</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["has_electric_side_mirror"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Has Electric Window</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["has_electric_window"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Has Power Steering</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["has_power_steering"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Import Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["import_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>NCD Percent</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["ncd_percent"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Left Hand Drive</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["left_hand_drive"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Main Driver DOB</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["main_driver_dob"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Main Driver Licence First Issued</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["main_drivers_licence_first_issued"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Mileage</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["mileage"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Mileage Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["mileage_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Number of Doors</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["number_of_doors"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Number of Engines</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["number_of_engines"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Registration Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["registration_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Roof Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["roof_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Seat Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["seat_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Seating</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["seating"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Tonnage</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["tonnage"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Transmission Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["transmission_type"].ToString()</td>
                            </tr>

                            <tr>
                                <td>
                                    <hr />
                                    <p>
                                        <b style="color:#13a89e;"></b><i><span class="glyphicon glyphicon-home">  Address Risk#@ExtCount</span></i>
                                    </p>
                                </td>
                            </tr>


                            <tr>
                                <td><b>Altitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["altitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Block</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["block"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Building Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["building_label"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Building Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["building_number"].ToString()</td>
                            </tr>
                            @*<tr>
                                <td><b>Categorization</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["categorization"].ToString()</td>
                            </tr>*@
                            <tr>
                                <td><b>Complex Name</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["complex_name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Country</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["country"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>General Area</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["general_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>International Area</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["international_area"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Is International Address</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["is_international_address"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Island</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["island"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Altitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["latitude"].ToString()</td>
                            </tr>
                            @*<tr>
                                <td><b>Location Class</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["locaction_class"].ToString()</td>
                            </tr>*@
                            <tr>
                                <td><b>Longitude</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["longitude"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Parish</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["parish"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Postal Zip Code</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["postal_zip_code"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Name</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["street_name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["street_number"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Street Type</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["street_type"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Town</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["town"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Unit Number</b></td>
                                <td>@Model.PolicyData["risks"][ExtCount]["vehicle_location"]["unit_number"].ToString()</td>
                            </tr>

                            <tr>
                                <td>
                                    <hr />
                                    <p>
                                        <b style="color:#13a89e;"></b><i><span class="glyphicon glyphicon-road">  Drivers Risk#@ExtCount</span></i>
                                    </p>
                                </td>
                            </tr>

                            @foreach (JToken Driver in Model.PolicyData["risks"][ExtCount]["drivers"].Children())
                            {
                                <tr>
                                    <td>
                                        <hr />
                                        <p>
                                            <b style="color:#13a89e;"></b><i><span class="glyphicon glyphicon-user">  Drivers information Driver#@Drivers</span></i>
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>Driver ID</b></td>
                                    <td><i>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["driver_id"].ToString()</i></td>
                                </tr>
                                <tr>
                                    <td><b>First Name</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["first_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Middle Name</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["middle_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Last Name</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["last_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Driver DOB</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["driver_dob"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Drivers Licence First Issued</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["drivers_licence_first_issued"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Drivers Licence Number</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["drivers_licence_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is Main Driver</b></td>
                                    <td>@Model.PolicyData["risks"][ExtCount]["drivers"][Drivers]["is_main_driver"].ToString()</td>
                                </tr>


                                Drivers += 1;
                            }





                        </table>
                    </div>

                }
                

                ExtCount += 1;

            }
        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading");
        }

    }


</div>

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.PolicyData
    </p>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
