﻿@model Ucon.Models.GetPolicyExtensions

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Extensions</h1>

        <div class="well">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               
                <div class="col-md-10">
                    <p><b>Enter your PolicyID</b></p>
                    @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Submit your request" class="btn btn-success" />
                </div>
            </div>
        </div>
        </div>
      
}


<div>

    @if (Model.PolicyData.Count > 0)
    {
        try
        {
            int ExtCount = 0;

            foreach (JToken Extension in Model.PolicyData["extensions"].Children())
            {
                <div class="well">
                    <b style="color:#13a89e;">Extension#</b><i>@ExtCount</i>
                    <table>
                        <tr>
                            <td><b>Extension ID</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["extension_id"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["type"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Code</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["code"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Extension</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["extension"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Limit</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["limit"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Name for Display</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["name_for_display"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Type for Display</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["type_for_display"].ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>@Model.PolicyData["extensions"][ExtCount]["description"].ToString()</td>
                        </tr>
                    </table>
                </div>
                ExtCount += 1;

            }
        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading"); 
        }

    }
   

</div>

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.PolicyData
    </p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
