﻿
<div ng-app="GetSources" ng-controller="myCtrl">
    <div id="SearchDiv" class="well">

        <table class="FullWidth">
            <tr>
                <td>
                    <input id="SearchBox" type="text" class="form-control FullWidth" placeholder="Search here" ng-model="SourceSearch" />
                </td>
            </tr>
        </table>


    </div>
    <div>
        <table class="table-striped table-hover FullWidth TableBorder" id="UserList">
            <thead>
                <tr>
                    <th><b>Source Name</b></th>
                    <th><b>Source Type</b></th>
                    <th><b>Branch Code</b></th>
                    <th><b>Source ID</b></th>
                </tr>
            </thead>
            <tr ng-repeat="Source in Sources | filter:SourceSearch" class="FullWidth">
                <td>
                    {{Source.source_name}}
                </td>
                <td>{{Source.source_type}}</td>
                <td>{{Source.branch_code}}</td>
                <td id="SID">{{Source.source_id}}</td>

            </tr>
        </table>
    </div>

</div>
