﻿
<div class="well">
    <h1 style="color:#13a89e;font-weight:bold; font-family:Cambria">
        <span class="glyphicon glyphicon-cog"></span> MiddleWare
        <b style="float:right">Version @Newtonsoft.Json.Linq.JArray.Parse(TempData["Versions"].ToString()).OrderByDescending(V => V["Date"]).ToList()[0]["Version"]</b>
    </h1>

    @{
        if (User.Identity.IsAuthenticated)
        {
            string CurrentUser = User.Identity.Name;
            int RoleID = 0;
            var Users = from U in (new Ucon.Models.DBModel.MiddleAccsEntities()).AspNetUsers where U.Email == CurrentUser select U;
            try { RoleID = int.Parse(Users.SingleOrDefault().UserRoleID.ToString()); } catch (Exception) { }

            {
                var UR = from Roles in (new Ucon.Models.DBModel.MiddleAccsEntities()).UserRoles where Roles.RolID == RoleID select Roles;

                if (Users.ToList().Count() > 0 && UR.ToList().Count() > 0)
                {

                    if (UR.ToList().Count() > 0)
                    {
                        if (UR.SingleOrDefault().RoleName.ToString().ToUpper() == "ADMIN")
                        {
                            <hr />
                            <button id="GetSettings" class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#SettingsModal1">Configure Settings</button>
                            <hr />
                        }
                    }
                }
            }
        }


    }

    <div>
        <h5><b>Current Configuration</b></h5>

        <p><b>Client: </b>@Environment.MachineName</p>
        <p><b>Server: </b>@TempData["Server"]</p>
        <p><b>Database Connection: </b>@System.Configuration.ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString.ToString().Split(';')[0]</p>
        <p><b>UW/Middleware Connection: </b>@TempData["UW"]</p>
        <p><b>User: </b>@User.Identity.Name</p>
        <p><b></b></p>
        <p><b></b></p>

    </div>
    
    <h2 class="text-center">Version Information</h2>

    <div>
        @{
            try
            {
                <br />
                foreach (var V in Newtonsoft.Json.Linq.JArray.Parse(TempData["Versions"].ToString()).OrderByDescending(V => V["Date"]))
                {
                    <h4><b>Version</b> @V["Version"]</h4>
                    <p><b>Release Date</b> @V["Date"]</p>
                    <p><b>Modified By</b> @V["Modified By"]</p>
                    <p><b>Release Notes</b> @V["Release Notes"]</p>
                    <hr />
                }
            }
            catch (Exception)
            {

            }

        }


    </div>

</div>

@*Manage Settings*@

<div class="modal fade" id="SettingsModal1" tabindex="-1" role="dialog" aria-labelledby="SettingsModal1">
    <div class="modal-dialog" role="document" ng-app="SMTP" ng-controller="SMTPCTRL">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddmyModalLabel"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp; Settings</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#General" aria-controls="GenralSettings" role="tab" data-toggle="tab">Genral Settings</a></li>
                            <li role="presentation"><a href="#AmPlus" aria-controls="AmPlusSettings" role="tab" data-toggle="tab">AmPlus Settings</a></li>
                            <li role="presentation"><a href="#SMTPSettings" aria-controls="SMTPSettings" role="tab" data-toggle="tab">SMTP Settings</a></li>
                            <li role="presentation"><a href="#ftpsettings" aria-controls="ftpsetting" role="tab" data-toggle="tab">Ftp Settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="General">
                                <div id="GeneralSettings">
                                    <p class="alert alert-info">Indicate the default registry destination value for new users. This value will be assigned when a new user is created. You may change the user registry destination later with the manage users feature</p>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Global Registry Destination</label>
                                            <input type="text" id="globalreg" class="form-control" placeholder="[Default global registry destination]" />
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                         <div class="col-md-12">
                                             <div class="alert alert-info">
                                                 <b>Manage IP Whitelist Settings</b><br />
                                                 <i>When IP Whitelist is enabled, only IP that is listed in the whitelist will be allowed to connect to the Middleware</i>
                                                 <input id="EnableListIP" type="checkbox" class="form-control form-check" />
                                             </div>
                                            @*<table>V
                                                <tr>
                                                    <td style="min-width:40px;">
                                                        <input id="EnableListIP" type="checkbox" class="form-control form-check" />
                                                    </td>
                                                    <td>
                                                        <span>Enable IP Whitelist</span>
                                                    </td>
                                                </tr>
                                            </table>*@
                                            <div id="btnCheck">
                                                <a href="/MiddleWareHome/IPWhiteList" class="btn btn-primary" id="IPLISSTBUTTON">Edit IP</a>
                                            </div>

                                        </div>
                                    </div>

                                   
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="alert alert-info">
                                                <b>Enable Secure Socket Layer for the Middleware</b><br />
                                                <i>When SSL is enabled only secure connections will be allowed to access the middleware</i>
                                                <input id="EnableSSLIP" type="checkbox" class="form-control form-check" />
                                            </div>
                                            @*<table>
                                                <tr>
                                                    <td style="min-width:40px;">
                                                       
                                                    </td>
                                                    <td>
                                                        <span>Enable SSL</span>
                                                    </td>
                                                </tr>
                                            </table>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="AmPlus">
                                <div id="AMPLUS">
                                    <br /><br />

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p><b>Send Data to AMPLUS through Middleware</b></p>
                                            <label><i><small> Create Reports URL</small></i></label>
                                            <input id="AMPLUSURL" type="text" class="form-control search-area" placeholder="https://your-am-plus-url" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p><b>Upload Documents to AMPLUS through Middleware</b></p>
                                            <label><i><small> Document Upload URL</small></i></label>
                                            <input id="DocumentUploadURL" type="text" class="form-control search-area" placeholder="https://your-am-plus-document-url" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p><b>Send Text Notification to AMPLUS through Middleware</b></p>
                                            <label><i><small> Text Notification URL</small></i></label>
                                            <input id="AmPlusTextNotificationURL" type="text" class="form-control search-area" placeholder="https://your-am-plus-url" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label>AMPLUS Username</label>
                                            <input id="AmUsername" type="text" class="form-control search-area" placeholder="AMPLUS Username" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label>AMPLUS Password</label>
                                            <input id="AmPassword" type="password" class="form-control search-area" placeholder="AMPLUS Password" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="SMTPSettings">
                                <div>
                                    <br /><br />
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server URL</p>
                                            <input type="text" placeholder="Enter your Email Server URL" ng-model="ServerUrl" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server Port#</p>
                                            <input type="text" placeholder="Enter your Email Server Port Number" ng-model="PortNumber" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Sender Name</p>
                                            <input type="text" placeholder="Enter your Email the name to appear in emails sent" ng-model="SenderName" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server Username</p>
                                            <input type="text" placeholder="Enter your username" ng-model="Username" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server Password</p>
                                            <input type="password" ng-model="Password" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-primary" ng-click="SaveSMTPSettings()" data-dismiss="modal">Save SMTP Settings</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ftpsettings">
                                <div>
                                    <br /><br />
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server URL</p>
                                            <input type="text" placeholder="Enter your ftp URL" ng-model="ftpUrl" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Base Path</p>
                                            <input type="text" placeholder="Enter base Path" ng-model="ftpbasePath" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server Username</p>
                                            <input type="text" placeholder="Enter your username" ng-model="ftpUsername" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Server Password</p>
                                            <input type="password" ng-model="ftpPassword" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p>Current ftp User</p>
                                            <input type="text" readonly="readonly" ng-model="SelectedUser" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <select ng-model="ftpUSer" ng-change="GetUID()" class="form-control" id="UR">
                                                <option ng-repeat="U in AllFtpUsers">{{U}}</option>
                                            </select>
                                        </div>
                                        <input type="text" readonly="readonly" hidden="hidden" ng-model="ftpUserID" />
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-primary" ng-click="SaveftpSettings()" data-dismiss="modal">Save Ftp Settings</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*<div role="tabpanel" class="tab-pane" id="settings">...</div>*@
                        </div>

                    </div>

                </div>
            </div>
            <label id="SelectedSettingsID" hidden="hidden"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="SaveSettings" data-dismiss="modal">Save Settings</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="SettingsSMTPModal1" tabindex="-1" role="dialog" aria-labelledby="SettingsModal1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddmyModalLabel">Manage SMTP Settings</h4>
                </div>
                <div class="modal-body" id="SMTPS">


                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

</div>



