﻿@model IEnumerable<Ucon.Models.DBModel.IPWhiteList>

@{
    ViewBag.Title = "IPWhiteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-thumbs-up"></span>  IP Whitelist Management</h1>

    </div>

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        Manage your IP pool. IP pool let you list the IPs that you will allow to connect to your application.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <div class="btn btn-primary"  data-toggle="modal" data-target="#AddModal1">+ Add New</div>

    <hr />
    <div class="well">
        <div>
            <table style="width:100%;">
                <tr>
                    <td class="search-area"><input type="button" class="btn btn-info" value="Search" id="SearchIP" /></td>
                    <td><input type="text" id="IPSearch"  placeholder="Search for IP address" class="form-control-search" /></td>
                </tr>
            </table>
        </div>
        <hr />

            @foreach (var item in Model)
             {

    <div class="list-group-item">
        <div><b>IP:</b> @item.IP</div>
        <div>
            <b>Is Blocked:</b> @{if (item.IsBlocked == true)
                { <i>Blocked</i>}
                else
                { <i>Allowed</i>}

            }
        </div>
        <div><b>Details</b><br /><i>@item.IPDescription</i></div>
        <br />
        <div class="btn-group">
            <div id="EditIP" class="btn btn-info" data-toggle="modal" data-target="#Modal1" onclick="SetIDIP(@item.IPID)">Edit</div>
            <div id="DeleteIP" class="btn btn-danger" onclick="InitiateDelete(@item.IPID)">Delete</div>
        </div>
        
    </div>


                }

        </div>
    


    </div>


@*Editing an IP*@

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit IP</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">IP</label>
                        <div class="col-md-10">
                            <input id="IPAddress" type="text" placeholder="IP address" class="form-control-search" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <input id="IPDescription" type="text" placeholder="IP address description" class="form-control-search" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Block IP</label>
                        <div class="col-md-10">
                            <input id="BlockIP" type="checkbox" class="form-control form-check" />
                        </div>
                    </div>
                   
                </div>
            </div>
            <label id="SelectedIP" hidden="hidden"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="SaveIP" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>


@*Adding an IP*@

<div class="modal fade" id="AddModal1" tabindex="-1" role="dialog" aria-labelledby="AddModal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddmyModalLabel">Add New IP</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">IP</label>
                        <div class="col-md-10">
                            <input id="AddIPAddress" type="text" placeholder="IP Address" class="form-control-search" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <input id="AddIPDescription" type="text" placeholder="IP address description" class="form-control-search" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Block IP</label>
                        <div class="col-md-10">
                            <input id="AddBlockIP" type="checkbox" class="form-control form-check" />
                        </div>
                    </div>

                </div>
            </div>
            <label id="AddSelectedIP" hidden="hidden"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="AddSaveIP" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>