﻿@model Ucon.Models.MakeModels

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-random"></span>     Makes and Models</h1>

        <hr />
        <div class="form-horizontal">
            <div class="well">
                <h4>Search By Vehicle Types</h4>
                <p><i>Eg: Aircraft, Marine or Motor </i></p>
            </div>
            
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PolicyType, "Vehicle Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PolicyType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PolicyType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConcatList, "Return Concatenated Results?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ConcatList)
                        @Html.ValidationMessageFor(model => model.ConcatList, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Request" class="btn btn-success" />
                </div>
            </div>
        </div> 
         
    </div>
    
    <hr />

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing an array of all the makes and models for the type of vehicle passed.
                        Parameter is of type String vehicleType – Aircraft, Marine or Motor
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
        <div class="well">
            <i>Method Name</i>
            @if (Model.ConcatList == true)
            {
                <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>GetConcatenatedMakesAndModels</h5>
            }
            else
            {
                <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehMakeModels</h5>
            }


        </div>

        <div class="well">
            <i>Json Request Body</i>

            @if (Model.ConcatList == false)
            {
                <p>
                    {
                    "resquestkey" : { "key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
                    "parameter" : { "param":"Motor"}
                    }
                </p>
            }
            else
            {
                <p>
                    {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
                    "parameter" : {
                    "vehicleType":"Motor",
                    " concatenatedList":true
                    }}

                </p>
            }

        </div>

    <div>
            
            <div class="well" style="color:#13a89e;font-weight:bold; font-family:Cambria">
                Makes and Models
            </div>

            @if (Model.MakesAndModels.Count > 0)
            {
                try
                {
                    if (Model.ConcatList == true)
                    {

                        foreach (JToken ConcatItems in Model.MakesAndModels["data"].Children())
                        {
                            <a href="#" class="list-group-item FirstLetters">@ConcatItems</a>
                        }
                    }
                    else
                    {
                        int MakeCount, ModelCount;
                        MakeCount = 0;
                        ModelCount = 0;



                        foreach (JToken MM in Model.MakesAndModels["data"].Children())
                        {
                            <div class="well">
                                <div class="list-group-item" style="color:#13a89e;font-weight:bold; font-family:Cambria">@Model.MakesAndModels["data"][MakeCount]["make"].ToString().ToUpper()</div>

                                
                                @foreach (JToken M in Model.MakesAndModels["data"][MakeCount]["models"].Children())
                                {
                                    <div class="list-group-item">
                                        @if (M["model"].ToString() != "")
                                    { <p><b><i>MODEL:</i> </b> @M["model"].ToString()</p>}
                                        @if (M["model_type"].ToString() != "")
                                    {<p><b><i>MODEL TYPE:</i></b>   @M["model_type"].ToString()</p> }
                                        @if (M["body_shape"].ToString() != "")
                                    {<p><b><i>BODY SHAPE:</i> </b>  @M["body_shape"].ToString()</p> }
                                        @if (M["body_type"].ToString() != "")
                                    { <p><b><i>BODY TYPE:</i></b>    @M["body_type"].ToString()</p>}
                                        @if (M["extension"].ToString() != "")
                                    {<p><b><i>EXTENSIONS:</i></b>   @M["extension"].ToString()</p> }

                                    </div>

                                    ModelCount += 1;

                                }
                            </div>
                            MakeCount += 1;

                        }


                    }


                }
                catch (Exception e)
                {

                    <div class="well">
                        <p style="color:#f40d0d" id="Error">
                          @Html.Partial("ErrorLoading")
                          
                        </p>
                    </div>
                    <script>
                        function Error() { alert("There were some errors when trying to honour your request.");}
                    </script>
                }


            }
                       
        </div>

        <hr />
       

        <div class="MaxHeight">
            <div class="list-group-item active">
                <i>Json Response</i>
                <p>
                    @Model.MakesAndModels
                </p>
            </div>
        </div>
       
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
