﻿@model IEnumerable<Ucon.Models.DBModel.ActionWording>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="well">
    <h2 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-cog"></span>Policy Actions</h2>
    <p class="text-center">
        Data mapping allows you to choose custom names for the table field names in UnderWriter.<br />
        This is useful if you do not wish to expose the true field names of your database table schemas to a third party entity
    </p>

</div>

<div class="container">

    <div class="well">
        @foreach (var Item in Model)
        {
            <div class="list-group-item">
                <div style="padding:10px">
                   <h4><span class="glyphicon glyphicon-flash" style="color:#efb449; font-size:32px"></span><b>@Item.ActionName</b></h4>
                   <i style="color:#13a89e">Wordings Allowed: <span id="@Item.ActionID WC">@Item.WordingCount</span></i> 
                </div>
               
                <br />

                <a class="btn btn-success" onclick="SetID(@Item.ActionID)" role="button" data-toggle="collapse" href="#@Item.ActionID.ToString()collapseExample" aria-expanded="false" aria-controls="@Item.ActionID.ToString()collapseExample">
                    <b id="@Item.ActionID">View Wordings</b>
                </a>
                <div class="collapse " id="@Item.ActionID.ToString()collapseExample">
                    <div class="well">
                        <h4>Transaction Wordings</h4>
                   
                            @{
                                Ucon.Models.DBModel.MiddleAccsEntities DB = new Ucon.Models.DBModel.MiddleAccsEntities();
                                var Word = from Wordings in DB.TransactionWordingsActions where Wordings.ActionID == Item.ActionID select Wordings;
                               
                                 <div id="@Item.ActionID.ToString() Wording">
                                    @foreach (var W in Word.ToList())
                                    {
                                    <div class="list-group-item"><span class="btn btn-success" onclick="SetID2(@W.WordID)" data-toggle="modal" data-target="#myModal">Edit Wording Value </span>&nbsp;&nbsp; @W.WordNameProperty &nbsp;&nbsp;<span class="well"><b>Value: </b><i style="color:#13a89e">@W.TransactionWording</i>  </span> </div>
                                    }
                                </div>

                            }
                       

                    </div>

                </div>
            </div>

            <br />
      }

    </div>

 

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Transaction Wording</h4>
                </div>
                <div class="modal-body">
                    <b>Select Wordings</b>
                    <select id="Word" class="form-control">
                        @{ 
                            foreach(Newtonsoft.Json.Linq.JToken Word in Ucon.Models.GlobalData.epic_mwGetTransWording()["trans_wordings"].Children())
                            {
                                <option>@Word</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default k" id="" data-dismiss="modal">Close</button>
                    <button type="button" onclick="AddTransWording()" id="" class="btn btn-success q"  data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var CurrentID = 0;
    var WordID = 0;
    function SetID(ActionID) {
        document.getElementsByClassName("btn btn-success q").id = ActionID;
        CurrentID = ActionID;

    };

    function SetID2(WordIDs) {
        document.getElementsByClassName("btn btn-success k").id = WordIDs;
        WordID = WordIDs;
    };


    function AddTransWording() {
        var SubmitData = {
            ActionID: "",
            Wording: "",
            WordID:""
        };

        SubmitData.Wording = document.getElementById("Word").value;
        SubmitData.ActionID = document.getElementsByClassName("btn btn-success q").id;
        SubmitData.WordID = WordID;
        AddWordings(SubmitData);

    }
    function AddWordings(SubmitData) {
        $.ajax({
            type: "POST",
            url: "/MiddleWareHome/AddWord",
            data: JSON.stringify(SubmitData),
            contentType: "application/json; charset-utf-8",
            dataType: "json",
            success: SuccessBroker,
            error: ErrorBroker
        });

    };

    function SuccessBroker(response) {

        var Items = "";

        for (var i = 0; i < response["Wordings"].length; i++) {
            Items += "<div class=\"list-group-item\"><span class=\"btn btn-success\" onclick=\"SetID2(" + + response["Wordings"][i]["WordID"]  + ")\" data-toggle=\"modal\" data-target=\"#myModal\""
                   + ">Edit Wording Value</span>&nbsp;&nbsp;" + response["Wordings"][i]["WordNameProperty"] + "&nbsp;&nbsp;<span class=\"well\"><b>Value: </b><i style=\"color:#13a89e\">" + response["Wordings"][i]["TransactionWording"] + "</i></span></div>";

        }
        document.getElementById(CurrentID + " Wording").innerHTML = Items;

        if (response["Success"] == false) {
            alert(response["Error_Message"]);
        }
    };

    function ErrorBroker(response) {
       alert("There was an error, please try again");
    };


    //########################################################################################################

    function RemoveWordings(WordID) {
        $.ajax({
            type: "POST",
            url: "/MiddleWareHome/DeleteWord?WordID=" + WordID + "&ActionID=" + CurrentID,
            data: "{}",
            contentType: "application/json; charset-utf-8",
            dataType: "json",
            success: SuccessDeleteWording,
            error: ErrorDeleteWording
        });

    };

    function SuccessDeleteWording(response) {

        var Items = "";

        for (var i = 0; i < response["Wordings"].length; i++) {
            Items += "<div class=\"list-group-item\"><span class=\"btn btn-success\" onclick=\"SetID2(" + +response["Wordings"][i]["WordID"] + ")\" data-toggle=\"modal\" data-target=\"#myModal\""
                      + ">Edit Wording Value &nbsp;&nbsp;</span>&nbsp;&nbsp;" + response["Wordings"][i]["WordNameProperty"] + "&nbsp;&nbsp;<span class=\"well\"><b>Value: </b><i style=\"color:#13a89e\">" + response["Wordings"][i]["TransactionWording"] + "</i></span></div>";

        }
        document.getElementById(CurrentID + " Wording").innerHTML = Items;
    };

    function ErrorDeleteWording(response) {
        alert("There was an error, please try again");
    };


    function AdWordingValue(ID) {

    }



</script>