﻿@model IEnumerable<Ucon.Models.DBModel.TransactionWording>

<div class="well">
    <h2 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-cog"></span>Edit Transaction Wording Mapping Data</h2>
    <p class="text-center">
        Data mapping allows you to choose custom names for the table field names in UnderWriter.<br />
        This is useful if you do not wish to expose the true field names of your database table schemas to a third party entity
    </p>

</div>

<div class="container">

   


    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Code</th>
                <th>Value</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Code)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Edit", "MapTransactionWordingEdit", new { Code = item.Code })
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>