﻿@model Ucon.Models.VehicleColors
@using Newtonsoft.Json.Linq
<div class="container">
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-asterisk"></span>Vehicle Colours</h1>

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing an array of all vehicle colours.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehColour</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"}}
        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Vehicle Colours
        </a>

        @try
        {
            if (Model.VehicleColor.Count > 0)
            {
                foreach (JToken Colors in Model.VehicleColor["data"].Children())
                {
                    <a href="#" class="list-group-item FirstLetters">@Colors</a>
                }
            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />


    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.VehicleColor
        </p>
    </div>

</div>
