﻿@model Ucon.Models.GetOccupations
@using Newtonsoft.Json.Linq
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-user"></span>Occupations</h1>
        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Groups, "Enter Occupation Group", htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                    @Html.EditorFor(model => model.Groups, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Groups, "", new { @class = "text-danger" })
                     <p><i>Eg: All, Individual or Company</i></p>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Request" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<hr />


<div class="container">
    

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing an array of occupations for companies, individuals or both based on the filter provided.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetOccupations</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {"param":"All"}}

        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Occupations
        </a>

        @try
        {
            if (Model.OccupationList.Count > 0)
            {
                int OccupationCount = 0;
                foreach (JToken Parish in Model.OccupationList["data"].Children())
                {

                    <a href="#" class="list-group-item"><b>@Model.OccupationList["data"][OccupationCount]["industry"].ToString()</b>
                    <p><i>@Model.OccupationList["data"][OccupationCount]["occupation"].ToString()</i></p>
                    <p>Insurable: @Model.OccupationList["data"][OccupationCount]["do_not_insure"].ToString()</p>
                    </a>
                    
                    OccupationCount += 1;

                }
            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />


    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.OccupationList
        </p>
    </div>

</div>