﻿@model Ucon.Models.ParaishAndTowns
@using Newtonsoft.Json.Linq;
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-globe"></span>Parish and Towns</h1>
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Country, "Enter Country Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Country, new SelectList(Ucon.Controllers.RequestQuotationController.CountryList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Request" onclick="SON_Prettify('JsonID')" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<hr />

<div class="container">
 

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing an array of all the parishes and their towns for the specified country.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCParishTowns</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {"param":"jamaica"}
            }

        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Parish and Towns
        </a>

        @try
        {
            if(Model.Parish.Count > 0)
            {
                TempData["JSONTOPRETTY"] = Model.Parish;
                  int ParishCount = 0;
                foreach (JToken Parish in Model.Parish["data"].Children())
                {

                        <a href="#" class="list-group-item"><b>@Model.Parish["data"][ParishCount]["parish"].ToString()</b><p><i>Towns <b style="color:#13a89e;font-weight:bold; font-family:Cambria">( @Model.Parish["data"][ParishCount]["towns"].Count() )</b></i></p></a>

                            foreach (JValue Towns in Model.Parish["data"][ParishCount]["towns"].Children())
                                {
                                
                                    <a href="#" class="list-group-item">@Towns.Value</a>

                    }

                    ParishCount += 1;

                }
            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />

   

    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.Parish
        </p>
    </div>


    <div>
        <button class="btn btn-success" data-toggle="modal" data-target="#JSONPretty">See JSON Response</button>
    </div>
    <div class="modal fade" id="JSONPretty" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">JSON Request</h4>
                </div>
                <div class="modal-body Audit">
                    @Html.Partial("JSONViewer")
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

