﻿@model Ucon.Models.PolicyProfileExtension
@using Newtonsoft.Json.Linq;

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profile Ratings</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Profile Ratings" class="btn btn-warning" />
                </div>
            </div>
          </div>
        </div>
}

@try
{
    foreach( JToken P in Model.policData["policy_ratings"].Children() )
    {
        <div class="well">
            <table>
                <tr>
                    <td>
                        <b>Rating Code</b>
                    </td>
                    <td>
                        @P["rating_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rating Type</b>
                    </td>
                    <td>
                        @P["rating_type"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Short Name</b>
                    </td>
                    <td>
                        @P["short_name"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Department</b>
                    </td>
                    <td>
                        @P["department"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Category</b>
                    </td>
                    <td>
                        @P["category"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rating Group</b>
                    </td>
                    <td>
                        @P["rating_group"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Level Discount Rate</b>
                    </td>
                    <td>
                        @P["pol_level_discount_rate"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Is Editable</b>
                    </td>
                    <td>
                        @if (P["is_editable"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_editable"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Not Modifiable</b>
                    </td>
                    <td>
                        @if (P["is_not_modifiable"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_not_modifiable"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is To Be Displayed</b>
                    </td>
                    <td>
                        @if (P["is_to_be_displayed"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_to_be_displayed"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Renewal Manager Only</b>
                    </td>
                    <td>
                        @if (P["is_renewal_manager_only"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_renewal_manager_only"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Admin Alert</b>
                    </td>
                    <td>
                        @if (P["is_admin_alert"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_admin_alert"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is This Period Only</b>
                    </td>
                    <td>
                        @if (P["is_this_period_only"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_this_period_only"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is TP Premium Rate</b>
                    </td>
                    <td>
                        @if (P["is_tp_premium_rate"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_tp_premium_rate"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Affect By Loadings</b>
                    </td>
                    <td>
                        @if (P["is_affect_by_loadings"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_affect_by_loadings"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is NCD Not Auto Increment</b>
                    </td>
                    <td>
                        @if (P["Is_ncd_not_auto_increment"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["Is_ncd_not_auto_increment"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is After Minimum Premium</b>
                    </td>
                    <td>
                        @if (P["is_after_minimum_prem"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_after_minimum_prem"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
            </table>

        </div>
    }
}
catch
{

}

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
