﻿@model Ucon.Models.PolicyProfileExtension
@using Newtonsoft.Json.Linq;


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profile Range Values</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Range Values" class="btn btn-warning" />
                </div>
            </div>
        </div>
      </div>
}

@try
{
    foreach( JToken P in Model.policData["profile_range_values"].Children())
    {
        <div class="well">
            <table>
                <tr>
                    <td>
                        <b>Category</b>
                    </td>
                    <td>
                        @P["category"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rating Code</b>
                    </td>
                    <td>
                        @P["rating_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Currency</b>
                    </td>
                    <td>
                        @P["currency"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Department Class</b>
                    </td>
                    <td>
                        @P["dept_class"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Effective Date</b>
                    </td>
                    <td>
                        @P["effective_date"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Expiry Date</b>
                    </td>
                    <td>
                        @P["expiry_date"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Group Name</b>
                    </td>
                    <td>
                        @P["group_name"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Country</b>
                    </td>
                    <td>
                        @P["country"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Description</b>
                    </td>
                    <td>
                        @P["description"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vehicle Make</b>
                    </td>
                    <td>
                        @P["veh_make"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vehicle Model</b>
                    </td>
                    <td>
                        @P["veh_model"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vehicle Model Type</b>
                    </td>
                    <td>
                        @P["veh_model_type"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Range Code</b>
                    </td>
                    <td>
                        @foreach (JToken J in P["range_code"].Children())
                        {

                            <table>
                                <tr>
                                    <td>
                                       - @J["name"].ToString() :
                                    </td>
                                    <td>
                                        @J["value"].ToString()
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Range Value</b>
                    </td>
                    <td>
                        @foreach (JToken J in P["range_value"].Children())
                        {

                            
                                <table>
                                    <tr>
                                        <td>
                                            - @J["name"].ToString() :
                                        </td>
                                        <td>
                                             @J["value"].ToString()
                                        </td>
                                    </tr>
                                </table>
                           
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Ranges Real</b>
                    </td>
                    <td>
                        @foreach (JToken J in P["ranges_real"].Children())
                        {

                            <table>
                                <tr>
                                    <td>
                                        - @J["name"].ToString() :
                                    </td>
                                    <td>
                                         @J["value"].ToString()
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Ranges Strings</b>
                    </td>
                    <td>
                        @foreach (JToken J in P["ranges_strings"].Children())
                        {

                            <table>
                                <tr>
                                    <td>
                                        - @J["name"].ToString() :
                                    </td>
                                    <td>
                                         @J["value"].ToString()
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>

        </div>
    }
}
catch
{

}

<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
