﻿@model Ucon.Models.PolicyProfileExtension

@using Newtonsoft.Json.Linq;

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profile Extensions</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Extensions" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
}

    
        @try
        {
            if (Model.policData.Count > 0)
            {
                foreach (JToken P in Model.policData["profile_extensions"].Children())
                {
                <div class="well">
                    <table>
                        <tr>
                            <td>
                                <b>Policy Prefix</b>
                            </td>
                            <td>
                                @P["prefix"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Currency</b>
                            </td>
                            <td>
                                @P["currency"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Extension Code</b>
                            </td>
                            <td>
                                @P["extension_code"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Extension Type</b>
                            </td>
                            <td>
                                @P["extension_type"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Extension Name</b>
                            </td>
                            <td>
                                @P["extension_name"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Is Auto Load</b>
                            </td>
                            <td>
                                @if (P["is_auto_load"].ToString().Trim() != String.Empty)
                                {
                                    if ((bool)P["is_auto_load"])
                                    {
                                        <span>YES</span>
                                    }
                                    else
                                    {
                                        <span>NO</span>
                                    }


                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Load Limit Amount</b>
                            </td>
                            <td>
                                @P["load_limit_amount"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Extension</b>
                            </td>
                            <td>
                                @P["extension_text"].ToString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Policy Name</b>
                            </td>
                            <td>
                                @P["policy_name"].ToString()
                            </td>
                        </tr>

                    </table>
                </div>

                }
            }
        }
        catch(Exception e)
        {
            Html.Partial("Error", new HandleErrorInfo(e, "MiddleWareHome", "PolicyProfileExtentions"));
        }




<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
