﻿@model Ucon.Models.PolicyProfileExtension
@using Newtonsoft.Json.Linq;

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profile Rating Codes</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Rating Codes" class="btn btn-warning" />
                </div>
            </div>
        </div>
      </div>
}

@try
{
    foreach( JToken P in Model.policData["profile_rating_codes"].Children())
    {
        <div class="well">
            <table>
                <tr>
                    <td>
                        Rating Code
                    </td>
                    <td>
                        @P["rating_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Group Name
                    </td>
                    <td>
                        @P["group_name"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Branch
                    </td>
                    <td>
                        @P["branch"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Effective Date
                    </td>
                    <td>
                        @P["effective_date"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Expiry Date
                    </td>
                    <td>
                        @P["expiry_date"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Action On Renewal
                    </td>
                    <td>
                        @P["action_on_renewal"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                       Basic Rate
                    </td>
                    <td>
                        @P["basic_rate"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Renewal Rate
                    </td>
                    <td>
                        @P["renewal_rate"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        Threshold Amount
                    </td>
                    <td>
                        @P["threshold_amount"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Auto Load</b>
                    </td>
                    <td>
                        @if (P["auto_load"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["auto_load"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is For Renewal</b>
                    </td>
                    <td>
                        @if (P["is_for_renewal"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_for_renewal"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Web Quote Selectable</b>
                    </td>
                    <td>
                        @if (P["is_web_quote_selectable"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_web_quote_selectable"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Force Renewal Rate</b>
                    </td>
                    <td>
                        @if (P["is_force_renewal_rate"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_force_renewal_rate"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Maximum Rate</b>
                    </td>
                    <td>
                        @P["maximum_rate"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Maximum Premium</b>
                    </td>
                    <td>
                        @P["maximum_premium"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Minimum Premium</b>
                    </td>
                    <td>
                        @P["minimum_premium"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Limit Min</b>
                    </td>
                    <td>
                        @P["limit_min"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Default Limit</b>
                    </td>
                    <td>
                        @P["default_limit"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Limit Max</b>
                    </td>
                    <td>
                        @P["limit_max"].ToString()
                    </td>
                </tr>
            </table>

        </div>
    }
}
catch
{
   // Html.Partial("Error");
}



<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
