﻿@model Ucon.Models.PolicyClaims

@using Newtonsoft.Json.Linq;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Get Policy Claims</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                <p><b>Enter your PolicyID</b></p>
                @Html.EditorFor(model => model.PolicyID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PolicyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit Request" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<hr />
<div>

    @if (Model.PolicyData.Count > 0)
    {
        //Policy Claims Data Begins here

        int ClaimsCount = 0;
        int NoneMotorClaimsCount = 0;

        int participantsCount = 0;
        int NoneMotorparticipantsCountCount = 0;

        try
        {
            foreach (JToken Claims in Model.PolicyData["claims"].Children())
            {

                try
                {
                    if ((bool)Model.PolicyData["is_motor"] == false)

                    {
                        <div class="well CustNav CustNav_">
                            <p><b><span class="glyphicon glyphicon-paperclip"></span>  Claims#@NoneMotorClaimsCount</b></p>
                            <p><b><i>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["account_code"].ToString()</i></b></p>
                            <p><i>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["claims_handler"].ToString()</i></p>
                        </div>
                        <div class="well">
                            <table>

                                <tr>
                                    <td><b>Claims ID</b></td>
                                    <td><i style="color:#ff6a00">@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["claim_id"].ToString()</i></td>
                                </tr>
                                <tr>
                                    <td><b>Account Code</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["account_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Catastrophic Event</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["catastrophic_event"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Claims Handler</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["claims_handler"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Claims Year</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["claims_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Closed By</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["closed_by"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Closed On</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["closed_on"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current BI</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["current_bi"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current OD</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["current_od"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current PD</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["current_pd"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Documents Received</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["date_documents_received"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Estimate Received</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["date_estimate_received"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Repairer Authorized</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["date_repairer_authorized"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Reported To Insurance Co</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["date_reported_to_insurance_co"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Transaction Effective</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["date_transaction_effective"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Description</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["description"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Excess Actual Amount</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["excess_actual_amount"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Excess Description</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["excess_description"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Expiry Date</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["expiry_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Email Address</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["email_address"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Incident Year</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["incident_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial BI</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["initial_bi"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial OD</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["initial_od"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial PD</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["initial_pd"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Insured</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["insured"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is a Total Loss</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["is_a_total_loss"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is Closed</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["is_closed"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is Fatal</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["is_fatal"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Lawyer Name</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["lawyer_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Liable Party</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["liable_party"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Locus Of Event</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["locus_of_event"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Cause</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["loss_cause"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Date</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["loss_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Result</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["loss_result"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Police Officer Details</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["police_officer_details"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Police Station</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["police_station"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Cover Start Date</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["policy_cover_start_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Inception Date</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["policy_inception_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Number</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["policy_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Year</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["policy_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Risk Description</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["risk_description"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Source Account Code</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["source_account_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["status"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Sum Insured</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["sum_insured"].ToString()</td>
                                </tr>

                            </table>
                        </div>

                        foreach (JToken Participants in Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"].Children())
                        {
                            <div class="well CustNav CustNav_">
                                <p><b><span class="glyphicon glyphicon-user"></span>  Participant#@NoneMotorparticipantsCountCount in Claims#@NoneMotorClaimsCount</b></p>
                                <p><b><i>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["account_code"].ToString()</i></b></p>
                                <p><i>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["claims_handler"].ToString()</i></p>
                            </div>
                            <div class="well">
                                <table>

                                    <tr>
                                        <td><b>Participant ID</b></td>
                                        <td><i style="color:#ff6a00">@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["participant_id"].ToString()</i></td>
                                    </tr>
                                    <tr>
                                        <td><b>Current Reserve</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["current_reserve"].ToString()</td>
                                    </tr>

                                    <tr>
                                        <td><b>Excess</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["excess"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Expenses Reserves</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["expenses_reserves"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Injury Description</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["injury_description"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Injury Type</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["injury_type"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Is Auto Loaded</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["is_auto_loaded"].ToString()</td>
                                    </tr>

                                    <tr>
                                        <td><b>Participants Name</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["participants_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Participants Number</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["participant_number"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Participant Type</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["participant_type"].ToString()</td>
                                    </tr>

                                    <tr>
                                        <td><b>Suit Number</b></td>
                                        <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["participants"][NoneMotorparticipantsCountCount]["suit_number"].ToString()</td>
                                    </tr>
                                </table>

                            </div>
                            NoneMotorparticipantsCountCount += 1;
                        }

                        <div class="well"><p><b><span class="glyphicon glyphicon-pushpin"></span>  Location in claims @NoneMotorClaimsCount</b></p></div>

                        <div class="well">
                            <table>
                                <tr>
                                    <td><b>Altitude</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["altitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Block</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["block"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Building Label</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["building_label"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Building Number</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["building_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Complex Name</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["complex_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Country</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["country"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>General Area</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["general_area"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is International Address</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["is_international_address"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Island</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["island"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Latitude</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["latitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Logitude</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["longitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Parish</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["parish"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Postal Zip Code</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["postal_zip_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Name</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["street_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Number</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["street_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Type</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["street_type"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Town</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["town"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Unit Number</b></td>
                                    <td>@Model.PolicyData["claims"][NoneMotorClaimsCount]["claim"]["location"]["unit_number"].ToString()</td>
                                </tr>

                            </table>
                        </div>

                        NoneMotorClaimsCount += 1;
                        NoneMotorparticipantsCountCount = 0;
                    }
                    else if ((bool)Model.PolicyData["is_motor"] == true)
                    {
                        <div class="well CustNav CustNav_">
                            <p><b><span class="glyphicon glyphicon-paperclip"></span>  Claims#@ClaimsCount</b></p>
                            <p><b><i>@Model.PolicyData["claims"][ClaimsCount]["claim"]["account_code"].ToString()</i></b></p>
                            <p><i>@Model.PolicyData["claims"][ClaimsCount]["claim"]["claims_handler"].ToString()</i></p>
                        </div>
                        <div class="well">
                            <table>
                                <tr>
                                    <td><b>Claims ID</b></td>
                                    <td><i style="color:#ff6a00">@Model.PolicyData["claims"][ClaimsCount]["claim"]["claim_id"].ToString()</i></td>
                                </tr>
                                <tr>
                                    <td><b>Account Code</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["account_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Catastrophic Event</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["catastrophic_event"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Claims Handler</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["claims_handler"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Claims Year</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["claims_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Closed By</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["closed_by"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Closed On</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["closed_on"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current BI</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["current_bi"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current OD</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["current_od"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Current PD</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["current_pd"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Documents Received</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["date_documents_received"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Estimate Received</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["date_estimate_received"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Repairer Authorized</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["date_repairer_authorized"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Reported To Insurance Co</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["date_reported_to_insurance_co"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Date Transaction Effective</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["date_transaction_effective"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Description</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["description"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Excess Actual Amount</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["excess_actual_amount"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Excess Description</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["excess_description"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Expiry Date</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["expiry_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Email Address</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["email_address"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Incident Year</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["incident_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial BI</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["initial_bi"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial OD</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["initial_od"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Initial PD</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["initial_pd"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Insured</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["insured"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is a Total Loss</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["is_a_total_loss"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is Closed</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["is_closed"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is Fatal</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["is_fatal"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Lawyer Name</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["lawyer_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Liable Party</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["liable_party"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Locus Of Event</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["locus_of_event"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Cause</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["loss_cause"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Date</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["loss_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Loss Result</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["loss_result"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Police Officer Details</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["police_officer_details"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Police Station</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["police_station"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Cover Start Date</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["policy_cover_start_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Inception Date</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["policy_inception_date"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["policy_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Policy Year</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["policy_year"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Risk Description</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["risk_description"].ToString()</td>
                                </tr>

                                <tr>
                                    <td><b>Source Account Code</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["source_account_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["status"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Sum Insured</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["sum_insured"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle CC Rating</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_cc_rating"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Cylinders</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_cylinders"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Drivers Side</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_drivers_side"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Engine Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_engine_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Registered Owner</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_registered_owner"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Chassis</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_chassis"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Registration Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_registration_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Risk Description</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_risk_description"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Vehicle Year</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["vehicle_year"].ToString()</td>
                                </tr>

                            </table>
                        </div>

                        foreach (JToken Participants in Model.PolicyData["claims"][ClaimsCount]["participants"].Children())
                        {
                            <div class="well"><p><b style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-user"></span>  Participant#@participantsCount in Claims#@ClaimsCount</b></p></div>
                            <div class="well">
                                <table>
                                    <tr>
                                        <td><b>Participant ID</b></td>
                                        <td><i style="color:#ff6a00">@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["participant_id"].ToString()</i></td>
                                    </tr>
                                    <tr>
                                        <td><b>Current Reserve</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["current_reserve"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email Address</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["email_address"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Excess</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["excess"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Expenses Reserves</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["expenses_reserves"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Injury Description</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["injury_description"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Injury Type</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["injury_type"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Is Auto Loaded</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["is_auto_loaded"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Is Driver Also</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["is_driver_also"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Is Third Party</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["is_third_party"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Is Third Party Salvage</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["is_third_party_salvage"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Mailing Address</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["mailing_address"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Main Participant</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["main_participant"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Participants Name</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["participants_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Participants Number</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["participant_number"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Participant Type</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["participant_type"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Phone Number</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["phone_numbers"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Property Owner Name</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["propery_owner_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Reference ID</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["reference_id"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Suit Insurers Position</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["suit_insurers_position"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Suit Date Received</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["suit_date_received"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Suit Date Served</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["suit_date_served"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Suit Number</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["suit_number"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Agreement</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_agreement"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Driver</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_driver"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Insurer Mailing Address</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_insurer_mailing_address"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Insurer Name</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_insurer_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Vehicle</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_vehicle"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Chassis Number</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_vehicle_chassis_number"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Vehicle ID</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_vehicle_id"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Vehicle Registered Owner</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_vehicle_registered_owner"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Third Party Vehicle Registration Number</b></td>
                                        <td>@Model.PolicyData["claims"][ClaimsCount]["participants"][participantsCount]["third_party_vehicle_registration_number"].ToString()</td>
                                    </tr>
                                </table>
                            </div>
                            participantsCount += 1;
                        }

                        <div class="well"><p><b style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-pushpin"></span>  Location in claims @ClaimsCount</b></p></div>

                        <div class="well">
                            <table>
                                <tr>
                                    <td><b>Altitude</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["altitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Block</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["block"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Building Label</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["building_label"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Building Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["building_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Complex Name</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["complex_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Country</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["country"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>General Area</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["general_area"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Is International Address</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["is_international_address"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Island</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["island"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Latitude</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["latitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Logitude</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["longitude"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Parish</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["parish"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Postal Zip Code</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["postal_zip_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Name</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["street_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["street_number"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Street Type</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["street_type"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Town</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["town"].ToString()</td>
                                </tr>
                                <tr>
                                    <td><b>Unit Number</b></td>
                                    <td>@Model.PolicyData["claims"][ClaimsCount]["claim"]["location"]["unit_number"].ToString()</td>
                                </tr>

                            </table>
                        </div>

                        ClaimsCount += 1;
                        participantsCount = 0;
                    }
                }
                catch (Exception)
                {
                    @Html.Partial("ErrorLoading");
                }

            }
        }
        catch (Exception)
        {
            @Html.Partial("ErrorLoading");

        }


    }


    <div class="list-group-item active">
            <i>Json Response</i>
            <p>
                @Model.PolicyData
            </p>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
