﻿@model Ucon.Models.PolicyProfileExtension
@using Newtonsoft.Json.Linq;


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profiles</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Policy Profiles" class="btn btn-warning" />
                </div>
             </div>
          </div>
        </div>
}



@try {
    JToken P;
    P = Model.policData["policy_profile"];

    if (Model.policData.Count > 0) { 

        <div class="well">
            <table>
                <tr>
                    <td>
                        <b>Prefix</b>
                    </td>
                    <td>
                        @P["prefix"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Type Of Cover</b>
                    </td>
                    <td>
                        @P["type_of_cover"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>End Date Offset</b>
                    </td>
                    <td>
                        @P["end_date_offset"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>End Date Offset</b>
                    </td>
                    <td>
                        @P["end_date_offset"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vehicle Excess</b>
                    </td>
                    <td>
                        @P["vehicle_excess"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vehicle Excess Renewal</b>
                    </td>
                    <td>
                        @P["vehicle_excess_renewal"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Number of Free Seats</b>
                    </td>
                    <td>
                        @P["no_free_seats"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Max Discount for First Year</b>
                    </td>
                    <td>
                        @P["max_discount_first_year"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Max Discount Renewal</b>
                    </td>
                    <td>
                        @P["max_discount_renewal"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Policy Start Time</b>
                    </td>
                    <td>
                        @P["policy_start_time"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Policy End Time</b>
                    </td>
                    <td>
                        @P["policy_end_time"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sections that do not apply</b>
                    </td>
                    <td>
                        @P["sections_that_do_not_apply"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Endorsements That Apply</b>
                    </td>
                    <td>
                        @P["endorsements_that_apply"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Warranties Do Not Apply</b>
                    </td>
                    <td>
                        @P["warranties_do_not_apply"].ToString()
                    </td>
                </tr>
            </table>
        </div>
    }
}
catch(Exception e){
    Html.Partial("Error", new HandleErrorInfo(e, "MiddleWareHome", "PolicyProfiles"));
}

<br />
<div class="well CustNav CustNav_">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
