﻿@model Ucon.Models.PolicyProfileExtension

@using Newtonsoft.Json.Linq;

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy Profile Limits of Liability</h1>
        <hr />
        <div class="list-group-item active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.policyPrefix, "Enter Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policyPrefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policyPrefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Limits" class="btn btn-warning" />
                </div>
            </div>
           </div>
       </div>
}
@try
{
    if (Model.policData.Count > 0)
    {
        foreach (JToken P in Model.policData["limits_of_liability"].Children())
        {
        <div class="well">
            <table>
                <tr>
                    <td>
                        <b>Prefix</b>
                    </td>
                    <td>
                        @P["prefix"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Currency</b>
                    </td>
                    <td>
                        @P["currency"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Prefix</b>
                    </td>
                    <td>
                        @P["prefix"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Limit Code</b>
                    </td>
                    <td>
                        @P["limit_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Heading</b>
                    </td>
                    <td>
                        @P["heading"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Description</b>
                    </td>
                    <td>
                        @P["description"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Grouping Code</b>
                    </td>
                    <td>
                        @P["grouping_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Is Third Party Limit</b>
                    </td>
                    <td>
                        @if (P["is_third_party_limit"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_third_party_limit"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Is Auto Load</b>
                    </td>
                    <td>
                        @if (P["is_auto_load"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_auto_load"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Is Not Customizable</b>
                    </td>
                    <td>
                        @if (P["is_not_customizable"].ToString().Trim() != String.Empty)
                        {
                            if ((bool)P["is_not_customizable"])
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }


                        }

                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Basic LOL Amount</b>
                    </td>
                    <td>
                        @P["basic_lol_amt"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Default LOL Limit Amount</b>
                    </td>
                    <td>
                        @P["default_lol_limit_amt"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Maximum LOL Amount</b>
                    </td>
                    <td>
                        @P["max_lol_amt"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Date Effective From</b>
                    </td>
                    <td>
                        @P["date_effective_from"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Date Effective To</b>
                    </td>
                    <td>
                        @P["date_effective_to"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Profile Rating Code</b>
                    </td>
                    <td>
                        @P["profile_rating_code"].ToString()
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Policy Name</b>
                    </td>
                    <td>
                        @P["policy_name"].ToString()
                    </td>
                </tr>
            </table>
        </div>
        }
    }
}
catch(Exception e)
{
    @Html.Partial("Error", new HandleErrorInfo(e, "MiddleWareHome", "PolicyProfileLimitsOfLiability"));
}


<div class="list-group-item active">
    <i>Json Response</i>
    <p>
        @Model.policData
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
