﻿@model Ucon.Models.RegisterKey

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="well">
            <h4 class="text-center"><span class="glyphicon glyphicon-cog" style="color:#287d6b"></span> Register Middleware application</h4>
        </div>
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h4 class="list-group-item active">Enter your registration key below</h4>
        <div class="list-group-item">
            @Html.TextAreaFor(model => model.RKey, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RKey, "", new { @class = "text-danger" })
        </div>
        <hr />

      
        
          @{ 
         bool IsSuccessful = false;
            {
                try
                {
                 IsSuccessful = (bool)Model.RKeyResult["IsMethodCallSuccessful"];
                }
                catch (Exception)
                {
                    IsSuccessful = true;

                }
            }
        }



        <div class="well">
            <div class="list-group-item">
                @if (IsSuccessful == true)
                {

                    try
                    {
                        if (Model.RKeyResult["Key"].ToString() != "")
                        { <h2><span class="glyphicon glyphicon-ok" style="color:#00ff21"></span></h2> }
                    }
                    catch (Exception) { };

                    try
                    {
                        <table>
                            <tr>
                                <td><b>Company</b></td>
                                <td>
                                    @try
                                    { <p>@Model.RKeyResult["Company Name"].ToString()</p>
                            }
                            catch (Exception)
                            {<p>Not yet registered</p> }
                                </td>
                            </tr>
                            <tr>
                                <td><b>Expiration Date</b></td>
                                <td>
                                    @try
                            {<p>@Model.RKeyResult["Expiration Date"].ToString()</p>
                            }
                            catch (Exception)
                            {<p>Not yet registered</p> }
                                </td>
                            </tr>
                            <tr>
                                <td><b>Key</b></td>
                                <td>
                                    @try
                            {<p>@Model.RKeyResult["Key"].ToString()</p> }
                            catch (Exception)
                            {<p>Not yet registered</p> }
                                </td>
                            </tr>
                            <tr>
                                <td><b>Details</b></td>
                                <td>
                                    @try
                            { <p>@Model.RKeyResult["Details"].ToString()</p>
                            }
                            catch (Exception)
                            {<p>Not yet registered</p> }
                                </td>
                            </tr>
                        </table>
                    }
                    catch (Exception)
                    {

                        <div class="alert alert-warning">No key </div>
                   }

                }
                else
                {
                    <h3 style="color:red">Invalid Key</h3>
                }

            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Register application" class="btn btn-success" />
            </div>
        </div>
    </div>
}




