﻿@model Ucon.Models.GetLocalStreetNames
@using Newtonsoft.Json.Linq
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-pushpin"></span>Street Names</h1>
        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SearchCriteria,"Enter Country Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SearchCriteria, new SelectList(Ucon.Controllers.RequestQuotationController.CountryList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SearchCriteria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Request" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<hr />

<div class="container">
    

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns a JSON string containing an array of all street names for the specified country.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetLOCStreetNames</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {"param":"jamaica"}
            }

        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Street Names
        </a>

        @try
        {
            if (Model.Streets.Count > 0)
            {
                foreach (JToken Streets in Model.Streets["data"].Children())
                {
                    <a href="#" class="list-group-item FirstLetters">@Streets</a>
                }
            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />


    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.Streets
        </p>
    </div>

</div>

