﻿@model Ucon.Models.FileSubmit


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-file"></span>File Submit</h1>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group well CustNav_ CustNav">
            <p class="btn btn-default">@Html.ActionLink("Browse for file", "GetFile")</p> 
            <br /><br />
            <p>File: @try
            {
                <p class="glyphicon glyphicon-paperclip">@TempData["FileNames"].ToString()</p>
            }
            catch (Exception)
            {
                <span>No file chosen</span>
            }
          
        </div>
       <br />
      
        <div class="form-group">
            @Html.LabelFor(model => model.table,"File Table", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.table, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.record_id, "Record ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.record_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.record_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.file_id, "File ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.file_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.file_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.file_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.file_type, "File Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.file_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.file_data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.file_data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit File" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<br />

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method creates or updates a file for the record specified using table and record_id.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwSubmitFile</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "table": "",
            "record_id": "",
            "file_id": "",
            "file_name": "",
            "file_type": "",
            "file_data": "",
            "description": ""
            }

        </p>
    </div>

    <br />

    <div class="well CustNav CustNav_">
        @Model.FileData
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
