﻿
@{
    ViewBag.Title = "TestRow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<h2>TestRow</h2>

<style>
    .imagebox {
        /* max-height: 110px; */
        overflow: hidden;
        padding: 0;
    }

        .imagebox img {
            display: block;
            max-width: 100%;
            height: auto;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="imagebox col-md-5">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="." />
            </div>
            <div class="col-md-7">
                <p>
                    loremfs dfasflaf os daiosd asipdas doaidqd oiweqwe o qwoe  qwieqw dqwiodsdajdsa asoidiq iwoq oqiw nrfs.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="imagebox col-md-5">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="." />
            </div>
            <div class="col-md-7">
                <p>
                    loremfs dfasflaf os daiosd asipdas doaidqd oiweqwe o qwoe  qwieqw dqwiodsdajdsa asoidiq iwoq oqiw nrfs.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="imagebox col-md-5">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="." />
            </div>
            <div class="col-md-7">
                <p>
                    loremfs dfasflaf os daiosd asipdas doaidqd oiweqwe o qwoe  qwieqw dqwiodsdajdsa asoidiq iwoq oqiw nrfs.
                </p>
            </div>
        </div>
    </div>
</div>


<hr />
<hr />

<div class="well">
    <hr />
    <div ng-app="newApp" ng-controller="newCtrl">
        <div class="text-center">
            <p>{{name}}</p>
            <p>{{10 * 10}}</p>
        </div>

        <hr />

        <p>Input something in the input box:</p>
        <p>Name: <input type="text" ng-model="Message"></p>
        <p>{{Message}}</p>
    </div>
    
  
</div>

<hr />

<p id="Times"><i id="Mil"></i></p>






<hr />
<hr />
<br />

<div class="well">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg"alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/images/tumblr_mdkrva0M3c1qbkusho1_12801.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var app = angular.module('newApp', []);
    app.controller('newCtrl', function ($scope) {
        $scope.name = "John Doe";
        $scope.Message = "";
    });

    $(function () {
        GetDateAndTime();

    })

    //GetsFUllDate and Time
    function GetDateAndTime()
    {
        $("#Times").html(parseInt(new Date().getMonth())
            + 1 + "/"
            + GetDay()
            + "/"
            + new Date().getFullYear()
            + " "
            + formatAMPM() + " ");

        $("#Mil").val(new Date().getMilliseconds());

        var t = setTimeout(function () { GetDateAndTime() }, 500);

        
     };

    //Get Month
    function GetMonth() {
        var Today = new Date();

        if(parseInt(Today.getMonth()) + 1 > 9){
            return parseInt(Today.getMonth()) + 1;
        }else if(parseInt(Today.getMonth()) + 1 < 9){
            return "0" + (parseInt(Today.getMonth()) + 1).toString();
        }
       
    }
    
    //Gets Day
    function GetDay() {
        var Today = new Date();

        if(parseInt(Today.getDate()) > 9){
            return parseInt(Today.getDate())
        }else if
            (parseInt(Today.getDate()) < 9){
            return "0" + Today.getDate();
        }

    }

    //Get Hour in 12 hours format
    function formatAMPM(date) {
        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + date.getSeconds() + ' ' + ampm;
        return strTime;
    }



</script>


