﻿@model Ucon.Models.MotorVehicleRoofTypes
@using Newtonsoft.Json.Linq

<div class="container">
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-tags"></span>    Vehicle Roof Types</h1>

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns an array of all vehicle roof types.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwGetVehRoofType</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"}}
        </p>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Vehicle Roof Types
        </a>

        @try
        {
            if (Model.RoofType.Count > 0)
            {
                foreach (JToken Roof in Model.RoofType["data"].Children())
                {
                    <a href="#" class="list-group-item FirstLetters">@Roof</a>
                }
            }

        }
        catch (Exception)
        {

            @Html.Partial("ErrorLoading")
        }

    </div>

    <hr />


    <div class="list-group-item active">
        <i>Json Response</i>
        <p>
            @Model.RoofType
        </p>
    </div>

</div>
