﻿@model List<Ucon.Models.DBModel.AuditLog>
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json

<div class="container">
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-user"></span>&nbsp; Audit Log</h1>
    <hr />
    <p id="Types"></p>
</div>
<div class="list-group">
    <div class="list-group-item _Bar">
        @using (Html.BeginForm())
        {
            <div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">Start Date</span>
                                <input type="date" name="startdate" class="form-control" aria-describedby="basic-addon3">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">End Date</span>
                                <input type="date" name="enddate" class="form-control" aria-describedby="basic-addon3">
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Filter" class="btn btn-warning" />
                            @*<div class="input-group" hidden="hidden">
                                <span class="input-group-addon" id="basic-addon3">IP</span>
                                <input type="text" name="ip" value="@ViewData["ip"]" class="form-control" aria-describedby="basic-addon3">
                            </div>*@
                        </td>
                        <td>
                            @*<input type="submit" value="Filter" class="btn btn-warning" />*@
                        </td>

                    </tr>
                </table>
            </div>
            @Html.AntiForgeryToken()
            
        }
    </div>

</div>

@try
{
    if (Model.Count() > 0)
    {
        
        <div id="ServerList">
            <table class="table-striped table-hover">
                <tr class="FirstRow">
                    <td><b>Request Date</b></td>
                    <td><b>Request Type</b></td>
                    <td><b>Comment</b></td>
                    <td><b>Errors</b></td>
                    <td><b>IP</b></td>
                    <td><b>Request</b></td>
                    <td class="text-right"><b>Response</b></td>
                </tr>
                @foreach( var al in Model)
                {

                <tr>
                    <td>@al.LogDate</td>
                    <td>@al.RequestType</td>
                    <td>@al.Comments</td>

                    @if (al.Errors == "No Error")
                    {
                        <td style="width: 120px;"><div class="text-no-error">@al.Errors</div> </td>
                    }
                    else
                    {
                        <td style="width: 120px;"><div style="line-height:1.0em; text-overflow:ellipsis; overflow: hidden;" class="text-error" data-toggle="tooltip" title="@al.Errors" >@al.Errors</div></td>
                    }
                    
                    <td>@al.IP</td>
                    <td><button type="button" class="btn btn-info btn-sm" onclick="JSON_Prettify('@al.LogID-responseR')" data-toggle="modal" data-target="#@al.LogID-request">See Request</button></td>
                    <td class="text-right"><button type="button" class="btn btn-info btn-sm" onclick="JSON_Prettify('@al.LogID-responseB')" data-toggle="modal" data-target="#@al.LogID-response">See Response</button></td>
                </tr>
                <!-- Request Modal -->
                    <div class="modal fade" id="@al.LogID-request" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">JSON Request</h4>
                                </div>
                                <div class="modal-body Audit _MBody">
                                    <pre class="modal-p-text" id="@al.LogID-responseR">@JObject.Parse(al.JSONRequest)</pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Response Modal -->
                    <div class="modal fade" id="@al.LogID-response" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">JSON Response</h4>
                                </div>
                                <div class="modal-body Audit _MBody">
                                    @try
                                    {
                                        <pre id="@al.LogID-responseB" class="modal-p-text Outs">@JObject.Parse(al.JSONResponse)</pre>
                                    }
                                    catch (Exception)
                                    {
                                       
                                        <pre id="@al.LogID-responseB" class="modal-p-text Outs">@al.JSONResponse</pre>
                                    }
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                }
            </table>

        </div>
    }
}
catch (Exception e)
{
    @Html.Partial("ErrorLoading")
}



<script>
    $(function () {

        $('[data-toggle="tooltip"]').tooltip();

        $('.text-error').each(function () {
            if ($(this).text().length > 7) $(this).text($(this).text().substr(0,5)+ "...");
        });
    });
</script>


