﻿@model Ucon.Models.ErrorQuoteResponse

<div>
    <h4>Error</h4>
    <h6 class="label-warning">There were errors encountered when trying to submit your information.</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_message)
        </dd>

    </dl>
</div>

