﻿@model Ucon.Models.quotation


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Request Quotation</h4>
        <hr />*@

        @*//////////////////////////*@

 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="form-group TopBanner">
        <h1 id="pk" class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-pencil"></span>Motor Vehicle Quotation</h1>
        <p class="text-center">Request a motor vehicle quotation</p><hr />
    </div>

    <div id="ResultSet" class="ResultClass"></div>
    
    <div class="panel panel-default">
        <div class="panel-heading list-group-item active bg-default" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" Class="clickButton0">
                    General Information
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div id="Main" class="panel-body">
                @*General infomation*@
                
                <div class="form-group">
                    @Html.LabelFor(model => model.policy_prefix,"Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.policy_prefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control", onchange = "PolicyPrefix()" })
                        @Html.ValidationMessageFor(model => model.policy_prefix, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.first_name,"First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.middle_name,"Middle Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.last_name,"Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.national_id, "National ID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.national_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.national_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.national_id_type, "ID Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.national_id_type, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.national_id_type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email_address, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email_address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.company_name, "Company", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.company_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.start_date, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.accidents_in_last_few_years, "Accidents Past Few Years", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                                @Html.EditorFor(model => model.accidents_in_last_few_years)
                                @Html.ValidationMessageFor(model => model.accidents_in_last_few_years, "", new { @class = "text-danger" })
                          
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.occupation,"Occupation", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.occupation, new SelectList(Ucon.Controllers.RequestQuotationController.OccupationList()),  htmlAttributes: new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currency,"Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.currency, new SelectList(Ucon.Controllers.RequestQuotationController.CurrencyList()), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.address.country, "Country", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.address.country, new SelectList(Ucon.Controllers.RequestQuotationController.CountryList()),  htmlAttributes: new { @class = "form-control", id = "CX", onchange = "GetParish()" } )
                        @Html.ValidationMessageFor(model => model.address.country, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.is_motor_cat_perils_covered, "Perils Covered?", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.is_motor_cat_perils_covered)
                                @Html.ValidationMessageFor(model => model.is_motor_cat_perils_covered, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
               
                    <div class="btn-group pull-left" role="group" aria-label="...">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" Class="clickButton1">
                                <p class="pull-left btn btn-success clickButton(1)">Next</p>
                            </a>
                        </div>
                    </div>
               
                
                  
                </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading list-group-item active bg-default" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" Class="clickButton1">
                    Contact Information
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                               
                    @*Contact information*@
                <div hidden="hidden">

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.altitude, "Altitude", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.altitude, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.altitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.block, "Block", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.block, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.block, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.building_number, "Building#", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.building_number, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.building_number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.categorization, "Categorization", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.categorization, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.categorization, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.complex_name, "Complex Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.complex_name, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.complex_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.country, "Country", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.country, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.country, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.general_area, "General Area", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.general_area, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.general_area, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.international_area, "International Area", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.international_area, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.international_area, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.address.island, "Island", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.island, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.island, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.is_international_address, "Is International address?", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.is_international_address, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.is_international_address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.latitude, "Latitude", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.latitude, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.latitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.longitude, "Logitude", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.longitude, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.longitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address.locaction_class, "Location Class", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address.locaction_class, new { htmlAttributes = new { @class = "form-control", id = "" } })
                            @Html.ValidationMessageFor(model => model.address.locaction_class, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    @Html.LabelFor(model => model.address.parish, "Parish", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.address.parish, new SelectList(Ucon.Controllers.RequestQuotationController.Parish()), htmlAttributes: new { @class = "form-control", id = "_parish" })
                        @Html.ValidationMessageFor(model => model.address.parish, "", new { @class = "text-danger"})
                        @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#ParishModal" hidden="hidden">
                            Select Parish
                        </button>*@
                    </div>
                    
                </div>

                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.address.postal_zip_code, "Postal Zip Code", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.postal_zip_code, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.postal_zip_code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.address.street_name, "Street Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.street_name, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.street_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.address.street_number, "Street#", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.street_number, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.street_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.address.street_type, "Street Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.street_type, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.street_type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.address.town, "Town", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.town, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.town, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.address.unit_number, "Unit#", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address.unit_number, new { htmlAttributes = new { @class = "form-control", id = "" } })
                        @Html.ValidationMessageFor(model => model.address.unit_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />
                <div>
                    <p>Phone Details</p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                        Add Phone Number
                    </button>
                </div>
                <hr />
                <!-- Button trigger modal -->
                <div>
                      <h4><i style="color:#13a89e;font-weight:bold; font-family:Cambria">Phone numbers</i></h4>
                        
                        <ul id="PhoneArea" class="ul">
                            <li>Home <i>555-555-5555</i></li>
                        </ul>

</div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add a Phone Number</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label for="phone_number" class="control-label col-md-3">Phone Number</label>
                                        <input type="Text" class="form-control " id="phone_number" />
                                    </div>
                                        
                                    </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label for="extension_or_range" class="control-label col-md-3">Extension or range</label>
                                        <input type="Text" class="form-control " id="extension_or_range" />
                                    </div>
                                    
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label for="type" class="control-label col-md-3">Type</label>
                                        <input type="Text" class="form-control " id="type" />
                                    </div>
                                    
                                </div>

                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label for="carrier" class="control-label col-md-3">Carrier</label>
                                        <input type="Text" class="form-control " id="carrier" />
                                    </div>
                                    
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label for="description" class="control-label col-md-3">Description</label>
                                        <input type="Text" class="form-control " id="description" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                                <button type="button" class="btn btn-success" onclick="AddPhoneNumber()" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr />

               
                    <div class="btn-group pull-left" role="group" aria-label="...">
                        <a class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" Class="clickButton0">Previous </a>
                        <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" Class="clickButton2" onclick="">Next</a>

                    </div>
              
                
               
            </div>


        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading list-group-item active bg-default" role="tab" id="headingThree" onclick="">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" Class="clickButton2">
                    Quotation Risk
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="sum_insured" class="control-label col-md-2">Sum Insured</label>
                        <input type="Text" class="form-control" id="sum_insured" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="usage_code" class="control-label col-md-2">Usage Code</label>
                        <select id="usage_code" class="form-control"></select>
                    </div>
                    @*<div class="col-md-10">
                        <label for="usage_codec" class="control-label col-md-2">Custom Usage Code</label>
                        <input id="usagecodec" class="form-control " placeholder="Custom Usage Code" />
                    </div>*@
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="authorized_driver_wording" class="control-label col-md-2">Authorized Driver Wording</label>
                        <select type="Text" class="form-control" id="authorized_driver_wording" > </select>

                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="year_for_rating" class="control-label col-md-2">Year for rating</label>
                        <input type="number" class="form-control" id="year_for_rating" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="year" class="control-label col-md-2">Year</label>
                        <input type="number" class="form-control" id="year" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="make" class="control-label col-md-2">Make</label>
                        <select id="make" class="form-control " onchange="GetAssociatedModels()">
                            @foreach (string Makes in Ucon.Controllers.RequestQuotationController.MakeList())
                            {
                                <option>@Makes</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="makec" class="control-label col-md-2">Custom Make</label>
                        <input id="makec" class="form-control " placeholder="Custom Make"/>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="model" class="control-label col-md-2">Model</label>
                        <select id="model" class="form-control "></select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="modelc" class="control-label col-md-2" >Custom Model</label>
                        <input id="modelc" class="form-control " placeholder="Custom Model" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="model_type" class="control-label col-md-2">Model Type</label>
                        <select id="model_type" class="form-control "></select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="model_typec" class="control-label col-md-2">Custom Model Type</label>
                        <input id="model_typec" class="form-control " placeholder="Custom Model Type" />
                    </div>
                </div>


                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="extension" class="control-label col-md-2">Extension</label>
                        <select id="extension" class="form-control "></select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="extensionc" class="control-label col-md-2">Custom Extension</label>
                        <input id="extensionc" class="form-control " placeholder="Custom Extension" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="body_type" class="control-label col-md-2">Body Type</label>
                        <select id="body_type" class="form-control "></select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="body_typec" class="control-label col-md-2">Custom Body Type</label>
                        <input id="body_typec" class="form-control " placeholder="Custom Body Type" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="body_shape" class="control-label col-md-2">Body Shape</label>
                        <select id="body_shape" class="form-control "></select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="body_shapec" class="control-label col-md-2">Custom Body Shape</label>
                        <input id="body_shapec" class="form-control " placeholder="Custom Body Shape" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="hp_cc_rating" class="control-label col-md-2">HP CC Rating</label>
                        <input type="Text" class="form-control" id="hp_cc_rating" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="hp_cc_unit_type" class="control-label col-md-2">HP CC Unit Type</label>
                        <input type="Text" class="form-control" id="hp_cc_unit_type" />
                    </div>

                </div>


                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="chassis_number" class="control-label col-md-2">Chassis Number</label>
                        <input type="Text" class="form-control" id="chassis_number" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="colour" class="control-label col-md-2">Colour</label>
                        <select id="colour" class="form-control ">
                            @foreach (string VehColor in Ucon.Controllers.RequestQuotationController.ColorList())
                            {
                                <option>@VehColor</option>
                            }
                        </select>
                       
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="colourc" class="control-label col-md-2">Custom Color</label>
                        <input id="colourc" class="form-control " placeholder="Custom Color" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">

                        <label for="number_of_cyclinders" class="control-label col-md-2">Number of Cyclinders</label>
                        <input type="number" class="form-control" id="number_of_cyclinders" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="engine_modified" class="control-label col-md-2">Engine Modified   </label>
                        <input type="checkbox" id="engine_modified" />
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="engine_number" class="control-label col-md-2">Engine Number</label>
                        <input type="Text" class="form-control" id="engine_number" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="engine_type" class="control-label col-md-2">Engine Type</label>
                        <input type="Text" class="form-control" id="engine_type" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="has_electric_doors" class="control-label col-md-2">Has Electric Doors  </label>
                        <div class="CheckDiv pull-left">
                            <input type="checkbox" id="has_electric_doors" />
                        </div>
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="has_electric_side_mirror" class="control-label col-md-2">Has Electric Side Mirror  </label>
                        <div class="CheckDiv pull-left">
                            <input type="checkbox" id="has_electric_side_mirror" />
                        </div>
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="has_electric_window" class="control-label col-md-2">Has Electric Window  </label>
                        <div class="CheckDiv pull-left">
                            <input type="checkbox" id="has_electric_window" />
                        </div>
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="has_power_steering" class="control-label col-md-2">Has Power Steering</label>
                        <div class="CheckDiv pull-left">
                            <input type="checkbox" id="has_power_steering" />
                        </div>
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="import_type" class="control-label col-md-2">Import Type</label>
                        <select id="import_type" class="form-control ">
                            @foreach (string ImportType in Ucon.Controllers.RequestQuotationController.ImportList())
                            {
                                <option>@ImportType</option>
                            }
                        </select>
                    </div>
                    @*<div class="col-md-10"  hidden="hidden">
        <label for="import_typec" class="control-label col-md-2">Custom Import Type</label>
        <input id="import_typec" class="form-control " placeholder="Custom Import Type" />
    </div>*@
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="ncd_percent" class="control-label col-md-2">No Claim Discount %</label>
                        <input type="number" class="form-control" id="ncd_percent" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="left_hand_drive" class="control-label col-md-2">Left Hand Drive  </label>
                        <div class="CheckDiv pull-left">
                            <input type="checkbox" id="left_hand_drive" />
                        </div>
                    </div>


                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="mileage" class="control-label col-md-2">Mileage</label>
                        <input type="number" class="form-control" id="mileage" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="mileage_type" class="control-label col-md-2">Mileage Type</label>
                        <input type="Text" class="form-control" id="mileage_type" />
                    </div>

                </div>


                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="number_of_doors" class="control-label col-md-2">Number of Doors</label>
                        <input type="number" class="form-control" id="number_of_doors" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="number_of_engines" class="control-label col-md-2">Number of Engines</label>
                        <input type="number" class="form-control" id="number_of_engines" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="registration_number" class="control-label col-md-2">Registration Number</label>
                        <input type="Text" class="form-control" id="registration_number" />
                    </div>

                </div>


                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="roof_type" class="control-label col-md-2">Roof Type</label>
                        <select id="roof_type" class="form-control ">
                            @foreach (string Roof in Ucon.Controllers.RequestQuotationController.RoofList())
                            {
                                <option>@Roof</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-10" hidden="hidden">
                        <label for="roof_typec" class="control-label col-md-2">Custom Roof Type</label>
                        <input id="roof_typec" class="form-control " placeholder="Custom Roof Type" />
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="seat_type" class="control-label col-md-2">Seat Type</label>
                        <input type="Text" class="form-control" id="seat_type" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="seating" class="control-label col-md-2">Seating</label>
                        <input type="number" class="form-control" id="seating" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="tonnage" class="control-label col-md-2">Tonnage</label>
                        <input type="Text" class="form-control" id="tonnage" />
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="transmission_type" class="control-label col-md-2">Transmission Type</label>
                        <select id="transmission_type" class="form-control ">
                            @foreach(string Transmission in Ucon.Controllers.RequestQuotationController.TransmissionList())
                            {
                                <option>@Transmission</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-md-10">
                        <label for="main_driver_licence_first_issued" class="control-label col-md-2">Date of First Licence</label>
                        <input type="text" id="main_driver_licence_first_issued" class="form-control "/>
                    </div>

                </div>
                <hr />

                <div class="VehicleLocation">
                    <h4><i style="color:#13a89e;font-weight:bold; font-family:Cambria">Vehicle Location</i></h4>
                    <hr />
                   
                    <div hidden="hidden">
                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="altitude" class="control-label col-md-2">Altitude</label>
                                <input type="Text" class="form-control" id="altitude" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="block" class="control-label col-md-2">Block</label>
                                <input type="Text" class="form-control" id="block" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="building_number" class="control-label col-md-2">Building Number</label>
                                <input type="Text" class="form-control" id="building_number" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="categorization" class="control-label col-md-2">Categorization</label>
                                <input type="Text" class="form-control" id="categorization" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="complex_name" class="control-label col-md-2">Complex Name</label>
                                <input type="Text" class="form-control" id="complex_name" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="country" class="control-label col-md-2">Country</label>
                                <input type="Text" class="form-control" id="country" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="general_area" class="control-label col-md-2">General Area</label>
                                <input type="Text" class="form-control" id="general_area" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="international_area" class="control-label col-md-2">International Area</label>
                                <input type="Text" class="form-control" id="international_area" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="is_international_address" class="control-label col-md-2">Is International Address</label>
                                <input type="Text" class="form-control" id="is_international_address" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="island" class="control-label col-md-2">Island</label>
                                <input type="Text" class="form-control" id="island" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="latitude" class="control-label col-md-2">Latitude</label>
                                <input type="Text" class="form-control" id="latitude" />
                            </div>

                        </div>

                        <div class="form-group ">
                            <div class="col-md-10">
                                <label for="longitude" class="control-label col-md-2">Longitude</label>
                                <input type="Text" class="form-control" id="longitude" />
                            </div>

                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-10">
                            <label for="parish" class="control-label col-md-2">Parish</label>
                            @*<input type="Text" class="form-control" id="parish" />*@
                            <select class="form-control" id="parish"></select>
                        </div>
                        <div class="col-md-10" hidden="hidden">
                            <label for="SelectParish" class="control-label col-md-2">Select Parish</label>
                            <button type="button" class="btn btn-default" id="SelectParish" data-toggle="modal" data-target="#ParishModal2">
                                Select Parish
                            </button>
                        </div>
                        
                    </div>

                    <div class="form-group" hidden="hidden">
                        <div class="col-md-10">
                            <label for="postal_zip_code" class="control-label col-md-2">Postal Zip Code</label>
                            <input type="Text" class="form-control" id="postal_zip_code" />
                        </div>

                    </div>

                    <div class="form-group ">
                        <div class="col-md-10">
                            <label for="street_name" class="control-label col-md-2">Street Name</label>
                            <input type="Text" class="form-control" id="street_name" />
                        </div>

                    </div>

                    <div class="form-group " hidden="hidden">
                        <div class="col-md-10">
                            <label for="street_number" class="control-label col-md-2">Street Number</label>
                            <input type="Text" class="form-control" id="street_number" />
                        </div>

                    </div>

                    <div class="form-group " hidden="hidden">
                        <div class="col-md-10">
                            <label for="locaction_class" class="control-label col-md-2">Locaction Class</label>
                            <input type="Text" class="form-control" id="locaction_class" />
                        </div>

                    </div>

                    <div class="form-group " hidden="hidden">
                        <div class="col-md-10">
                            <label for="street_type" class="control-label col-md-2">Street Type</label>
                            <input type="Text" class="form-control" id="street_type" />
                        </div>

                    </div>

                    <div class="form-group ">
                        <div class="col-md-10">
                            <label for="town" class="control-label col-md-2">Town</label>
                            <input type="Text" class="form-control" id="town" />
                        </div>

                    </div>

                    <div class="form-group " hidden="hidden">
                        <div class="col-md-10">
                            <label for="unit_number" class="control-label col-md-2">Unit Number</label>
                            <input type="Text" class="form-control" id="unit_number" />
                        </div>

                    </div>

                </div>



                <hr />
                <p><i>Driver Details</i></p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#DriverModal">
                    Add Drivers
                </button>
                <hr />
                <div>

                    <table>
                        <tr>
                            <td>
                               
                                
                                <!-- Modal -->
                                <div class="modal fade" id="DriverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Add Drivers</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="dfirst_name" class="control-label col-md-4">First Name</label>
                                                        <input type="Text" class="form-control " id="dfirst_name" />
                                                    </div>
                                                        
                                                    </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="dmiddle_name" class="control-label col-md-4">Middle Name</label>
                                                        <input type="Text" class="form-control " id="dmiddle_name" />
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="dlast_name" class="control-label col-md-4">Last Name</label>
                                                        <input type="Text" class="form-control " id="dlast_name" />
                                                    </div>
                                                   
                                                </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="driver_dob" class="control-label col-md-4">DOB</label>
                                                        <input type="Text" class="form-control " id="driver_dob" />
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="drivers_licence_first_issued" class="control-label col-md-4">Date Licence First Issued</label>
                                                        <input type="text" class="form-control " id="drivers_licence_first_issued" />
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="drivers_licence_number" class="control-label col-md-4">Drivers Licence Number</label>
                                                        <input type="Text" class="form-control " id="drivers_licence_number" />
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group ">
                                                    <div class="col-md-12">
                                                        <label for="is_main_driver" class="control-label col-md-4">Is Main Driver</label><br />
                                                        <input type="checkbox" id="is_main_driver" />
                                                    </div>
                                                    
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" onclick="AddDrivers()" data-dismiss="modal">Commit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <table>
                                    <tr><td><i></i></td></tr>
                                    <tr id="Drivers"></tr>
                                </table>
                            </td>

                        </tr>

                    </table>
                    

                    <div>
                       
                        <h4><i style="color:#13a89e;font-weight:bold; font-family:Cambria">Drivers</i></h4>
                            <ul id="DriverArea" class="ul">
                                <li class="ul"><i>no driver added</i></li>
                            </ul>

                    </div>

                    <hr />
                    <p><i>Manual Rates Details</i></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ManualRatesModal">
                        Add Manual Rates
                    </button>
                    <hr />

                    <table>
                        <tr>
                            <td>
                                <!--Manual Rates-->
                               
                                <!-- Modal -->
                                <div class="modal fade" id="ManualRatesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Add Manual Rates</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group ">
                                                    <div class="col-md-10">
                                                        <label for="code" class="control-label col-md-2">Code</label><br />
                                                        <input type="Text" class="form-control" id="code" />
                                                    </div>
                                                       
                                                    </div>
                                                <div class="form-group ">
                                                    <div class="col-md-10">
                                                        <label for="value" class="control-label col-md-2">Value</label><br />
                                                        <input type="number" class="form-control" id="value" />
                                                    </div>
                                                    
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" onclick="AddManualRate()">Commit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <table>
                                    <tr><td><i></i></td></tr>
                                    <tr id="Rates"></tr>
                                </table>
                            </td>

                        </tr>

                    </table>
                </div>

               

                <div>
                    <h4>
                        <i style="color:#13a89e;font-weight:bold; font-family:Cambria">Manual Rates</i></h4>
                        <ul id="RatesArea" class="ul">
                            <li class="ul"><i>no manual rates added</i></li>
                        </ul>

                </div>

                <hr />
               
                    <div class="btn-group pull-left" role="group" aria-label="...">
                        <div class="btn-group pull-left" role="group" aria-label="...">
                            <a class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" Class="clickButton2">Previous </a>
                            @*<a class="collapsed btn btn-default ColorLoad" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" Class="clickButton3">Next</a>*@
                            <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" Class="clickButton0">Back to Start</a>
                        </div>
                    </div>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <input type="submit" value="Submit" id="submitQuote" onclick="AddRisk()" class="btn btn-success btn-lg" />
                    </div>
               
                @*<input type="button"  value="Load List Now"/>*@
                <div id="ls"></div>
            </div>
        </div>
    </div>

    <div class="Not Using">


              @*

              <div class="panel panel-default">
            <div class="panel-heading list-group-item active bg-default" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed ColorLoad" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" Class="clickButton3">
                        Risks
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                <!--Risk starts here-->
                <div class="panel-body">



                        <div class="btn-group pull-left" role="group" aria-label="...">
                            <a class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" Class="clickButton3">Previous </a>
                            <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" Class="clickButton4">Next</a>

                        </div>
                    </div>
            </div>
        </div>



               <div class="panel panel-default">
            <div class="panel-heading list-group-item active bg-default" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" Class="clickButton4">
                        Vehicle Location
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">


                    <div class="btn-group pull-left" role="group" aria-label="...">
                        <a class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" Class="clickButton4">Previous </a>
                        <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" Class="clickButton5">Next</a>

                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading list-group-item active bg-default" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" Class="clickButton5">
                        Drivers
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <div class="form-group ">
                        <label for="dfirst_name">First Name</label>
                        <input type="Text" class="form-control" id="dfirst_name" />
                    </div>

                    <div class="form-group ">
                        <label for="dmiddle_name">Middle Name</label>
                        <input type="Text" class="form-control" id="dmiddle_name" />
                    </div>

                    <div class="form-group ">
                        <label for="dlast_name">Last Name</label>
                        <input type="Text" class="form-control" id="dlast_name" />
                    </div>

                    <div class="form-group ">
                        <label for="driver_dob">DOB</label>
                        <input type="Text" class="form-control" id="driver_dob" />
                    </div>

                    <div class="form-group ">
                        <label for="drivers_licence_first_issued">Date Licence First Issued</label>
                        <input type="Text" class="form-control" id="drivers_licence_first_issued" />
                    </div>

                    <div class="form-group ">
                        <label for="drivers_licence_number">Drivers Licence Number</label>
                        <input type="Text" class="form-control" id="drivers_licence_number" />
                    </div>

                    <div class="form-group ">
                        <label for="is_main_driver">Is Main Driver</label>
                        <input type="Text" class="form-control" id="is_main_driver" />
                    </div>

                    <div class="form-group ">
                        <label>Manual Rates</label>
                        <div class="form-group ">
                            <label for="code">Code</label>
                            <input type="Text" class="form-control" id="code" />
                        </div>
                        <div class="form-group ">
                            <label for="value">Value</label>
                            <input type="number" class="form-control" id="value" />
                        </div>
                    </div>
                    <div class="btn-group pull-left" role="group" aria-label="...">
                        <button class="btn btn-primary pull-left SubmitQuote clickButton5" Class="Rtest">Submit</button>
                        <a class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" Class="clickButton4">Previous </a>
                        <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" Class="clickButton0">Start Over</a>

                    </div>

                </div>
            </div>
        </div>*@
    </div>


     @*Parish Modal*@
     

     
     <!-- Button trigger modal -->
      
     <!-- Modal -->
     <div class="modal fade" id="ParishModal" tabindex="-1" role="dialog" aria-labelledby="ParishModal">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">Select your Parish</h4>
                 </div>
                 <div class="modal-body">
                     <div class="form-group ">
                         <div class="col-md-10">
                             <label for="Parish" class="control-label col-md-3">Parish</label>
                             <select class="form-control " id="Parish" >
                                 @*<option>Select Parish</option>
                                 @foreach(var P in Ucon.Controllers.RequestQuotationController.Parish())
                                 {
                                    <option>@P</option>
                                 }*@
                             </select>
                         </div>

                     </div>
                    
               </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-success" onclick="AddParish('Main')" data-dismiss="modal">Save</button>
                 </div>
             </div>
         </div>
     </div>


     <!-- Modal -->
     <div class="modal fade" id="ParishModal2" tabindex="-1" role="dialog" aria-labelledby="ParishModal2">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">Select your Parish</h4>
                 </div>
                 <div class="modal-body">
                     <div class="form-group ">
                         <div class="col-md-10">
                             <label for="Parish" class="control-label col-md-3">Parish</label>
                             <select class="form-control " id="Parish2" onchange="AddParish('')">
                                 <option>Select Parish</option>
                                 @foreach (var P in Ucon.Controllers.RequestQuotationController.Parish())
                                 {
                                     <option>@P</option>
                                 }
                             </select>
                         </div>

                     </div>
                 </div>
                 
                 <div class="modal-footer">
                     <button type="button" class="btn btn-success" onclick="AddParish('')" data-dismiss="modal">Save</button>
                 </div>
             </div>
         </div>
     </div>








</div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
