﻿body {
}


TabBody{
    border-radius:5px;
}

.ul{
    display:block;
    text-decoration:none;
    color:#000000;

}

.TableCells{
    padding-right:5px;
}


.PhoneLable{
    padding-bottom:20px;
    font-weight:bold;
}

.LicNumber{
    color:dimgray;
    font-weight:bold;
    font-style:italic;
}

.WrappText{
    word-wrap:break-word;
    color:#ff6a00;
    font-style:italic;
}

.list-group-item2 {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    word-wrap: break-word;
    font-style: :italic;
    color: #ce8a0a;
}


textarea{
    width:100%;
    height:300px;
}