﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 280px;
}*/

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="select"] {
    max-width: 100%;
}



.CenterLogin {
    width: 40%;
    margin: auto;
}


.WrappText {
    word-wrap: break-word;
    color: #ff6a00;
    font-style: italic;
}

.list-group-item2 {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    word-wrap: break-word;
    font-style: :italic;
    color: #ce8a0a;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 5px;
}

/*Modal Word wrap*/
.modal p.modal-p-text {
    word-wrap: break-word;
}

/**Audit Log*/
.text-no-error {
    color: green;
    font-weight: bold;
    /*line-height:1.0em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:15%;*/
}

.text-error {
    color: red;
    font-weight: bold;
    /*line-height:1.0em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:15%;*/
}

.errors-col {
    line-height: 1.0em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.errorx {
    color: red;
    font-weight: bold;
    line-height: 1.0em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 15%;
}



.form-control-search {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    max-width: 100% !important;
}

    .form-control-search input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="select"] {
        width: 100%;
    }


.search-area {
    width: 50px;
}

.form-check {
    max-width: 20px;
}


.TableList {
    width: 100% !important;
    margin: auto;
}


#ServerList table{width:100%;}
#ServerList th {
    padding-left: 10px;
    border-bottom: dashed;
    border-width: 1px;
    border-color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #13a89e;
    color: #fff;
}

._Bar{
    background-color:rgba(0,0,0,0.2);
}

.AddNew {
    padding-left: 20px;
}

#ServerList table tr:hover {
    /*background-color: #dddddd;*/
}

#CompanyCode {
    font-weight: bold;
}

#BrokerUrl {
    font-style: italic;
    color: #71408f;
}

.FirstRow {
    padding-left: 10px;
    border-bottom: dashed;
    border-width: 1px;
    border-color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #13a89e;*/
    color: #808080;
}


a.Delete:hover{
color:red;
}



.LoginTextBox{
    padding-left:15px !important;
}






.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

#Times{
    color:darkred;
}

.FullWidth {
   width:100% !important;
}

.TableBorder{
    border:solid thin #dddddd;
}

#UserList thead tr th{
    padding:12px;
}#UserList thead{background-color:#13a89e; color:#ffffff;}

#SearchBox{
    width:100%!important;
    padding:15px;
}


#AMPLUSURL{
    width:100%!important;
    padding:15px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="select"] {
    /* max-width: 280px; */
    width:100%!important;
}

.Required{
    color:red;
    font-weight:bold;
    padding-left:2px;
    vertical-align:central;
}

pre{
   
}

.input-group-addon{
    color:#808080;
}

ListTable{
    width:100%;
    margin:auto;
}

#AddNew{
    width:15px;
}