﻿@model Ucon.Models.GetLocalCountries

<div>
    <h4>Countries</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Countries
            </a>
            @foreach (string Countires in Model.Lists)
            {
                <a href="#" class="list-group-item">@Countires</a>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
