﻿@model Ucon.Models.GetGeneralAreas
<script src="~/MyCustomScripts/CustomScript.js"></script>
<div>
    <div class="alert alert-info" role="alert"><h2>General Areas</h2></div>
    <hr />
    <dl class="dl-horizontal"></dl>

    <div class="pull-right">


    </div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="input-group">
                <table>
                   
                    <tr>
                        <td>
                            <div class="form-group">
                                
                               
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SearchMethod.SingleParameter, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SearchMethod.SingleParameter, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </td>
                        <td><button class="btn btn-primary pull-right">Search</button></td>
                    </tr>

                </table>

            </div>
        </div>
    }

    <hr />


    <div class="list-group">

        @foreach (string Item in Model.Lists)
        {
            <a href="#" class="list-group-item">@Item</a>
        }

    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
