﻿@model Ucon.Models.GlobalNameObject

<div>
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Submit a Global Name</h1>
    
    <div class="well">
        <h4>Your Global Name ID</h4>
        <p ><b>Global Name ID</b> <i style="color:#ff6a00">@Model.GlobalNameID["global_name_id"].ToString();</i></p>
    </div>

</div>

