﻿@model Ucon.Models.GetLocalStreetNames

<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">

            @*@Html.LabelFor(model => model.SearchCriteria, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                
                <table>
                    <tr>
                        <td>@Html.EditorFor(model => model.SearchCriteria, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td><input type="submit" value="Get Streets" class="btn btn-warning" /></td>
                    </tr>
                </table>
                @Html.ValidationMessageFor(model => model.SearchCriteria, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>

    }
    @*<div>
        <h4>.</h4>
    </div>*@
   
    <hr />
    <dl class="dl-horizontal">
    </dl>
   
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Street Names
        </a>
        @foreach (string Street in Model.Lists)
            {
            <a href="#" class="list-group-item">@Street</a>
        }
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
