﻿@model Ucon.Models.PolicyRenew
@using Newtonsoft.Json;

@using (Html.BeginForm())
{
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-edit"></span>Renew Policy</h1>

    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="well">
            <h4 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Renew Policy</h4>
        </div>
       
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.policy_id,"Polcy ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.policy_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.policy_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.policy_number,"Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.policy_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.policy_number, "", new { @class = "text-danger" })
            </div>
        </div>

      


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Renew Policy" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<hr />
<div class="container">
    <div class="list-group-item CustNav CustNav_">
        <p><b>Policy ID</b></p>
        <p><i>@Model.policy_id</i>
    </div>
</div>

<div class="container">

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns the JSON data for request of a Policy Renewal.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwPolicyRenew</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "policy_id" : "",
            "policy_number": 0
            }

        </p>
    </div>


    <h4>Json Response</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwPolicyRenew</h5>

    </div>

    <div class="list-group-item CustNav CustNav_">
        <i>Json Response</i>
        <p>
           @JsonConvert.SerializeObject(Model)

        </p>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


