﻿@model Ucon.Models.DBModel.Company
@using System.Linq;

<div class="container">
    <h2 id="pk" class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-home"></span>  @Model.Company_Name</h2>
    <hr />


    <b> Company</b>
    <p>@Html.DisplayFor(model => model.Company_Name)</p>

    <b>Notes</b>
    <div class="well">
        @Html.DisplayFor(model => model.Notes)
      
        <hr />
        <button class="btn btn-success">Edit Company</button>
    </div>

   
    <hr />
    <h2 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-cog"></span> Data Mapping</h2>
    <div class="well">
        <h2 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-info-sign"></span></h2>
        <p>Data mapping allows you to choose custom names for the table field names in the database.<br />
        This is useful if you do not wish to expose the true field names of your database table schemas to a third party entity</p>

    </div>
    <div class="list-group">
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Location (Address) </h4>
           
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "Brokers", new { CompanyID = Model.CompanyID })</span>  Brokers </h4>
            
            skqqn15@gmail.com
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "Clients", new { CompanyID = Model.CompanyID })</span>  Clients </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "Drivers", new { CompanyID = Model.CompanyID })</span>  Driver </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "GlobalName", new { CompanyID = Model.CompanyID })</span>  Global Name </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Manual Rates </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Policy </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Quotation (Insured Information) </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Risk </h4>
            
            
           
        </div>
        <div class="list-group-item">
            <h4><span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "LocationMapping", new { CompanyID = Model.CompanyID })</span>  Vehicle Exception (Do Not Insure) </h4>
            
            
           
        </div>
       
    </div>


</div>
<p>

    
</p>
