﻿@model Ucon.Models.PolicyResponses

<div>
    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-paperclip"></span>Policy</h1>
    <hr />
   
    @if(Model.PolicyID.Contains("error_message") == true)
    {
        <h4 style="color:#ff0000" class="text-center">There were errors in your policy data.</h4>
    }
    else if (Model.PolicyID.Contains("There were errors when trying to process your request") == true)
    {
        <h4 style="color:#ff0000" class="text-center">There were errors in your policy data.</h4>
    }

    else
    {
        <h4 style="color:#13a89e" class="text-center">Your policy was successfully created!</h4>
    }
    
    
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            <p>Policy ID </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyID)
        </dd>

    </dl>
</div>

