﻿@model Ucon.Models.policy

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <div>
          <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-new-window"></span>Create Policy</h1>
      </div>

        <div class="well">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.agreed_value, "Agreed Value", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.agreed_value, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.agreed_value, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.auto_renewal, "Auto Renewal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.auto_renewal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.auto_renewal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.currency, "Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.currency, new SelectList(Ucon.Controllers.RequestQuotationController.CurrencyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date_proposal_signed, "Date Proposal Signed", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date_proposal_signed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date_proposal_signed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.end_date, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.memo, "Memo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.memo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.memo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occupancy, "Occupancy", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occupancy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occupancy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.policy_prefix, "Policy Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.policy_prefix, new SelectList(Ucon.Controllers.RequestQuotationController.PolicyList()), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.policy_prefix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.source_account_code, "Source Account Code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.source_account_code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.source_account_code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.start_date, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.usage_category, "Usage Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usage_category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usage_category, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div>

        <div class="well">
            <h4>Add Global Name</h4>
            <div class="btn btn-default">@Html.ActionLink("Add a Global name", "SubmitGlobalName")</div>

            <div class="list-group">
                @if (Ucon.Controllers.PolicyCreateController.Gnames != null)
                {
                    int GnameCount = 0;
                    foreach (var Gnames in Ucon.Controllers.PolicyCreateController.Gnames)
                    {
                        <p class="list-group-item">
                            <b style="color:#ff0000">@Html.ActionLink("Remove", "RemoveGnames", new { Index = GnameCount })</b>   @Gnames.first_name  @Gnames.last_name   <a href="#">@Gnames.email_address </a>
                        </p>
                        GnameCount += 1;
                    }
                }
               
               
            </div>
        </div>
        <div class="well">
            <h4>Add Risk</h4>
            <div class="btn btn-default">@Html.ActionLink("Add a Risk", "AddRisk")</div>
            <div class="list-group">
                @if (Ucon.Controllers.PolicyCreateController.PolicyRisks != null)
                {
                    int GnameCount = 0;
                    foreach (var Gnames in Ucon.Controllers.PolicyCreateController.PolicyRisks)
                    {
                        <p class="list-group-item">
                            <b style="color:#ff0000">@Html.ActionLink("Remove", "RemoveGnames", new { Index = GnameCount })</b>   @double.Parse(Gnames.sum_insured).ToString("c2")  @Gnames.usage_code   <a href="#">@Gnames.authorized_driver_wording </a>
                        </p>
                        GnameCount += 1;
                    }
                }


            </div>
        </div>
        

        <div class="well">
            <h4>Add Insured</h4>
            <div class="btn btn-default">@Html.ActionLink("Add an Insured", "AddInsured")</div>
            <div class="list-group">
                @if (Ucon.Controllers.PolicyCreateController.Insureds != null)
                {
                    int GnameCount = 0;
                    foreach (var Gnames in Ucon.Controllers.PolicyCreateController.Insureds)
                    {
                        <p class="list-group-item">
                            <b style="color:#ff0000">@Html.ActionLink("Remove", "RemoveInsured", new { Index = GnameCount })</b>   @Gnames.national_id_type <a href="#">@Gnames.national_id </a>
                        </p>
                        GnameCount += 1;
                    }
                }


            </div>
        </div>


        <div class="well">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create Policy" class="btn btn-success" />
                </div>
            </div>
        </div>

    </div>
}


