﻿@model Ucon.Models.BrokerCheck

<div>
    <h4>BrokerCheck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.national_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.national_id_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.national_id_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy_number_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy_number_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy_number_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy_number_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy_number_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy_number_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalNameNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalNameNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Index", new { /* id = Model.PrimaryKey */ }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
