﻿@model Ucon.Models.QuotationGet

@using (Html.BeginForm())
{
    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-search"></span>Quotation Retrieval</h1>

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Find Quotation</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QuotationNumber, "Enter Quotation#", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuotationNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuotationNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Find" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<hr />

<div class="container">
   
    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method returns the JSON data for a previously submitted quotation. 
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwQuotationGet</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {"param":1000}
            }

        </p>
    </div>

</div>


