﻿@model Ucon.Models.QuotationResponseObject
<div class="well">
    <h4 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Model.CustomerName</h4>
</div>
@if (Model.net_premium == 0)
{
    <h1 style="color:#13a89e;"><span class="glyphicon glyphicon-warning-sign"></span></h1>
    <div class="alert alert-warning">
        <p class="TitleText">Errors encountered when trying to submit your data</p>

        <p>@Model.QuoteError</p>
    </div>
}
<div class="list-group">
    <div><h3 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-file" aria-hidden="true"> Quote</span></h3></div>
    <hr />

    <div class="list-group-item">
        <p><b>Quotation#: </b>@Html.DisplayFor(model => model.quotation_number)</p>
        <p><b>Net Premium: </b>@Model.net_premium.ToString("c2")</p>
        <p><b>Stamp Duty: </b>@Model.stamp_duty.ToString("c2")</p>
        <p><b>Tax: </b>@Model.tax.ToString("c2")</p>
        <p><b>Total: </b><strong style="color:#13a89e; font-size:20px;">@Model.total_premium.ToString("c2")</strong></p>
    </div>

</div>

<hr />

<div class="list-group">
    <h4 class="list-group-item-heading"><b>Limits</b></h4>
    @foreach (var limits in Model.Limits)
    {
        <div><h3 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></div>
        <a href="#" class="list-group-item">
            <p class="list-group-item-text"><strong>Code:</strong> <i><b>@limits.code</b></i></p>
            <p class="list-group-item-text"><strong>Heading:</strong>  <i>@limits.heading</i></p>
            <p class="list-group-item-text"><strong>Limit:</strong>  <i>@double.Parse(limits.limit).ToString("c2")</i></p>
            <p class="list-group-item-text"><strong>Description:</strong> <i>@limits.description</i> </p>
        </a>
    }
</div>

<hr />

<div class="list-group">
    <h4 class="list-group-item-heading"><b>Extensions</b></h4>
    @foreach (var extension in Model.extensions)
    {
        <div><h3 style="color:#13a89e;font-weight:bold;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></div>
        <div href="#" class="list-group-item CustNav CustNav_">
            <p class="list-group-item-text"><strong>Type:</strong> <i><b>@extension.type</b></i></p>
            <p class="list-group-item-text"><strong>Code:</strong> <i><b>@extension.code</b></i></p>
            <p class="list-group-item-text"><strong>Heading:</strong>  <i>@extension.heading</i></p>
            <p class="list-group-item-text"><strong>Description:</strong> <i>@extension.description</i> </p>
        </div>
    }
</div>

