﻿@model Ucon.Models.RestAPI

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="form-horizontal">
            <h4>RestAPI</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.URI, "URL/URI", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.URI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.URI, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.MethodName, "Method Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MethodName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MethodName, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="well">
                
                    <input type="submit" value="Send Request" class="btn btn-success" />
                
            </div>

            <hr />

           
            <p>@Html.LabelFor(model => model.RequestBody, "Request Body", htmlAttributes: new { @class = "control-label col-md-2" })</p>
               
                    @Html.TextAreaFor(model => model.RequestBody, new { htmlAttributes = new { @class = "TextArea" } })
                    @Html.ValidationMessageFor(model => model.RequestBody, "", new { @class = "text-danger" })
               
           


            <div>
                @Model.ResponseBody
            </div>

        </div>

       
    </div>
}
