﻿@model Ucon.Models.DoNotInsure


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="container">
        <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-remove"></span>Vehicle Exception</h1>
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.onceInTable, "Once Exist In Table", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.onceInTable)
                        @Html.ValidationMessageFor(model => model.onceInTable, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.make, "Make", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.make, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.make, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.model, "Model", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.model_type, "Model Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.model_type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.model_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.extension, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.extension, "Extensions", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.extension, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.year, "Year", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Check Status" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<hr />



<div class="well">
    <table>
        <tr>
            <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
            <td>
                <p>
                    This method does a search on the vehicle exception table for the vehicle passed to it and indicates if it should be insured.
                </p>
            </td>
        </tr>
    </table>

</div>

<h4>Resources</h4>
<div class="well">
    <i>Method Name</i>
    <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwVehDoNotInsure</h5>

</div>

<div class="well">
    <i>Json Request Body</i>
    <p>
        {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
        "parameter" : {
        "onceInTable" : false,
        "make" : "",
        "model" : "",
        "model_type" : "",
        "extension" : "",
        "year" : 0
        }}
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
