﻿@model Ucon.Models.DoNotInsure

<div>
    
    <hr />

    <h1 class="text-center" style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-remove"></span>Vehicle Exception</h1>

    <div class="well">
        <table>
            <tr>
                <td><h1><span class="glyphicon glyphicon-info-sign"></span></h1></td>
                <td>
                    <p>
                        This method does a search on the vehicle exception table for the vehicle passed to it and indicates if it should be insured.
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <h4>Resources</h4>
    <div class="well">
        <i>Method Name</i>
        <h5 style="color:#13a89e;font-weight:bold; font-family:Cambria"><span class="glyphicon glyphicon-flash"></span>epic_mwVehDoNotInsure</h5>

    </div>

    <div class="well">
        <i>Json Request Body</i>
        <p>
            {"resquestkey" : {"key" : "10740677-b2ca-409d-9844-c2bf9f5ca467"},
            "parameter" : {
            "onceInTable" : false,
            "make" : "",
            "model" : "",
            "model_type" : "",
            "extension" : "",
            "year" : 0
            }}
        </p>
    </div>

    <hr />

    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                Once Exist In Table
            </dt>

            <dd>
                @Html.DisplayFor(model => model.onceInTable)
            </dd>

            <dt>
                Make
            </dt>

            <dd>
                @Html.DisplayFor(model => model.make)
            </dd>

            <dt>
                Model
            </dt>

            <dd>
                @Html.DisplayFor(model => model.model)
            </dd>

            <dt>
                Model Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.model_type)
            </dd>

            <dt>
                Extension
            </dt>

            <dd>
                @Html.DisplayFor(model => model.extension)
            </dd>

            <dt>
                Year
            </dt>

            <dd>
                @Html.DisplayFor(model => model.year)
            </dd>

            <dt>
                Insurable
            </dt>

            <dd>
                @Html.DisplayFor(model => model.do_not_insure)
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Index", "DoNotInsure")
    </div>
</div>

