﻿body {
    background-color:#ffffff;
}

.TextArea{
    max-width: 100%;
}

/*input, select, textarea {
    max-width: 100%;
}*/

td{
    padding:10px;
}

.MaxHeight{
    max-height:150px;
}

body a:hover{
    color: #13a89e;
}

a:hover {
    color: #13a89e;
}


.FirstLetters{

}

.FirstLetters > ::first-letter{
    font-size:18px;
    font-weight:bold;
}

.CustNav:hover{
    color:#ffffff;
    background-color:#13a89e;
}

.CustNav_ {
    color: #ffffff;
}

.hds{
    display:none;
}

.TextGlobalName{
    max-width:200px;
    line-height:10em;
}


.TablePadding{
    padding:15px;
}

.NavText{
    font-weight:bold;
    color:#ffffff;
    font-size:20px;
    padding-top:30px;
}

.NavText:hover{
    color:rgb(239,172,78);
}

.TablePo{
    width:80%;
    margin:auto;

}

.BodyContents{
    width:95%;
    margin:auto;
}

.ClearFix{
    height:10px;
}

.SpreadButtons{
    width:100%;
    height:auto;
    margin: 0;
    font-size:14px;
    text-align: center;
}

.SpreadButtons a, .SpreadButtons button {
    display: inline-block;
    width: 80%;
    height: 80px;
    padding: 4.2% 3% 4%;
    max-width: 300px;
    margin: 10px auto;
}

.SpreadButtons2{
    width:95%;
    height:60px;
    padding:5px;
    padding-top:5px;
    font-size:18px;
    
}

.table {
    max-width: 500px;
    margin: 0 auto;
}

.table > tbody > tr > td {
    border: none;
}

.SwingDiv{
    padding-left:10px;
    margin:auto;
    width:90%;
}

.TextBoxTopManager{
    width:100%;
    height:50px;
    padding:10px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
}

.TextBoxBottomManager{
    width:100%;
    height:50px;
    padding:10px;
    border-top-style:none;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}


.DefaultButton{
  background-color:#42b20e;
}
.DefaultButton:hover{
    background-color:#2ea43f;
}

.LogoBanner{
    background-color:#13a89e;
    margin:auto;
    border-style:none;
   max-height:200px;
}

.RemMe{
    color:#ffffff;
    font-size:18px;
}

/*Loading Animation*/

#fountainG{
	position:relative;
	width:126px;
	height:15px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(239,172,78);
	width:15px;
	height:15px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:2.08s;
		-o-animation-duration:2.08s;
		-ms-animation-duration:2.08s;
		-webkit-animation-duration:2.08s;
		-moz-animation-duration:2.08s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
}

#fountainG_1{
	left:0;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#fountainG_2{
	left:16px;
	animation-delay:1.04s;
		-o-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-moz-animation-delay:1.04s;
}

#fountainG_3{
	left:31px;
	animation-delay:1.25s;
		-o-animation-delay:1.25s;
		-ms-animation-delay:1.25s;
		-webkit-animation-delay:1.25s;
		-moz-animation-delay:1.25s;
}

#fountainG_4{
	left:47px;
	animation-delay:1.46s;
		-o-animation-delay:1.46s;
		-ms-animation-delay:1.46s;
		-webkit-animation-delay:1.46s;
		-moz-animation-delay:1.46s;
}

#fountainG_5{
	left:63px;
	animation-delay:1.66s;
		-o-animation-delay:1.66s;
		-ms-animation-delay:1.66s;
		-webkit-animation-delay:1.66s;
		-moz-animation-delay:1.66s;
}

#fountainG_6{
	left:79px;
	animation-delay:1.87s;
		-o-animation-delay:1.87s;
		-ms-animation-delay:1.87s;
		-webkit-animation-delay:1.87s;
		-moz-animation-delay:1.87s;
}

#fountainG_7{
	left:94px;
	animation-delay:2.08s;
		-o-animation-delay:2.08s;
		-ms-animation-delay:2.08s;
		-webkit-animation-delay:2.08s;
		-moz-animation-delay:2.08s;
}

#fountainG_8{
	left:110px;
	animation-delay:2.29s;
		-o-animation-delay:2.29s;
		-ms-animation-delay:2.29s;
		-webkit-animation-delay:2.29s;
		-moz-animation-delay:2.29s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(239,172,78);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(239,172,78);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(239,172,78);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(239,172,78);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(239,172,78);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/*End of Loading Animation*/

.navbar-inverse .navbar-nav > li > a{
    color:#FFFFFF;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.CustNav{
    background-color:#13a89e;
    color:#ffffff;
}

a {
    color: #13a89e;
    text-decoration: none;
}

a:hover{
    color:#ffffff;
}

::selection {
    background-color: #13a89e;
    color:#ffffff;
}



.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #ffffff;
    white-space: nowrap;
}

.dropdown-menu > li{
    padding-top:0;
    padding-bottom:0;
}

.dropdown-menu > li > a:hover {
    background-color: #4d4d4d;
}

.btn-success {
    color: #ffffff;
    background-color: #13a89e;
    border-color: #000000;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #13a89e;
    border-color: #13a89e;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #13a89e;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.offEdge{
    padding-left:7px;
    padding-bottom:0;
}

.AlertOverride{

}