﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
 
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #ffffff;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #ffffff;
    white-space: nowrap;
    background-color:#070606;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}


.FooterHeight{
    padding:7px;
    height:40px;
}

.ar{
    text-decoration:none;
}

.ar:hover{
   background-color:#13a89e;
   color:#f8f8f8;
   color:#efac4e
   
}

.TdStyle{
   word-break:break-word;
}

.AlertMaxWidth{
    max-width:100%;
    text-overflow:ellipsis;
    line-height:1em;
    word-wrap:normal;
    padding:10px;
}

a:active{
 text-decoration:none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }

   
}

.Error{
    color:red;
}
.Success{
    color:green;
}
.navbar-custom {
   
    background-color: black;   
}

.navbar{
 color: white;
}

.CustomColor{
     color:coral;
      margin: auto;
    width: 60%;
}

.CustomColor:hover{
    color:palevioletred;
}

 .col-centered{
float: none;
margin: 0 auto;
}

#HyperLink{
    text-decoration:none;
    color:white;
}

#HyperLink:hover{
    color:yellow;
}

.center {
    margin: auto;
    width: 60%;
     vertical-align:central;
    /*border:3px solid #8AC007;
    padding: 10px;*/
}

.VerticalCenter{
    vertical-align:central;
}

.MainBg{
    background-color:yellowgreen;
}

.LeadColor{
    color:white;
}


.SubmitFormArea{
    margin:auto;
    width:80%;

}

.Gen{
    background-color:#f8ad4e;
    color:steelblue;
    text-decoration:none;
}

.pp{
    color:white;
    font-weight:bold;
    padding-left:15px;
    font-size:25px;
}

.FormDiv{
   width:95%;
   margin:auto;
}

.form-controls{
    width:90%;
   
}

.OddItems{
    width:100%;
    border-radius:5px;
    padding:5px;
    border-top-width:thin;
}



.ClickeButton1{

}

.PageTitle{
    color:steelblue;
    font-size:32px;
    padding-left:5px;
    font-weight:bold;
}

.FormControls{
    width:280px;
    border-radius:5px;
    padding:5px;
    border-top-width:thin;
   
}

.DateAndNumbers{
    width:280px;
    border-radius:5px;
    padding:5px;
    border-top-width:thin;
   
}

input {
    width: 100%;
}






.DpBack{
    background-color:transparent;
}

.DescriptionDiv{
    -webkit-border-bottom-left-radius:10px;
     -webkit-border-bottom-right-radius:10px;
      border-bottom-left-radius:10px;
     border-bottom-right-radius:10px;

     
     -webkit-box-shadow:rgba(247, 243, 243, 0.61),5px,inset;
      -moz-box-shadow:rgba(247, 243, 243, 0.61),5px,inset;
     box-shadow:rgba(247, 243, 243, 0.61),5px,inset;
     border-width:thin;
      }

.VaribaleLables{
    font-weight:bold;
    color:#337ab7;
}

.ClearFixes{
    height:30px;
}

.CustomNav{
    padding-bottom:0px;
}

.MiddleWareText{
    padding-left:10px;
    color:#5bc0de;
    font-size:18px;
    font-weight:bold;
    top:55px;
}

.FixImageBrand{
    top:18px;
    padding-left:0px;
    padding-right:20px;
    padding-left:5px;
    max-height:50px;
    padding-bottom:-2px;
}

.CustomDrop{
    height:46px;
    padding-right:10px;
    padding-top:8px;
    
}

.TitleText{
    font-size:18px;
   font-weight:bold;
   color:#5bc0de;
   padding-top:10px;
   padding-right:20px;
}
a:active{
    text-decoration:none;
}


.BackButton{
    height:10px;
}

.HperLinksColor{
    color:#55556f;
}

.HperLinksColor:hover{
     background-color:#13a89e;
   color:#f8f8f8;
}


.FixCheckBox{
    padding-left:1px;
   
}

.CheckDiv{
    width:30px;
}

.Colorprimary{
    /*background-color:#337ab7;*/
    color:black;
    font-size:16px;
   
}

.BadgeColor{
    background-color:#f0ad4e;
    font-size:14px;
    
}

.pusshSmall{
    width:60px;
    margin:auto;
}

.TopBanner{
    background-color:#ffffff;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
   
}


.UsernameID{
    padding-top:10px;
    padding-right:10px;
    color:#13a89e;
    font-weight:bold;
    font-size:15px;
}

.CenterText{
    vertical-align:central;
    text-align:center;
}

.RemMeDiv{
    width:60%;
    margin:auto;
}

.trashButtons{
    
}

.TextControls{
    height:50px;
}

.full{
    height:100%;
}

.PaddingRight{
    padding-right:10px;
    padding-top:8px;
}



/*Loading Animation*/
.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 49px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -17.5px;
	margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
		-o-animation: cssload-dot-colors 4.6s ease infinite;
		-ms-animation: cssload-dot-colors 4.6s ease infinite;
		-webkit-animation: cssload-dot-colors 4.6s ease infinite;
		-moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4.6s 0s ease infinite;
		-o-animation: cssload-dot-move 4.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-68px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-68px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-68px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-68px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-68px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}
/*End of Laoding Animation*/


.CssImages{
    max-height:150px; 
    max-width:230px;
}

.ResultClass{
    width:95%; 
    margin:auto;
}

.TablePadding{
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.MainCaption{
    color:#0b18ac;
    font-weight:bold;
}

.ModalControls{
    padding:5px;
}

/*Sub menus*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    /*top: 0;
    left: 100%;
    margin-top: -1px;*/
    
    top: 0;
    left: -80%;
    margin-top: -1px;
}
.groupname .glyphicon .caret{
    border-top-color:#fff !important;
    border-bottom-color:#fff !important;
}


.Audit{
    max-height:400px!important;
    overflow-y:scroll;
}


/*pre {outline: 1px solid #ffffff; padding: 5px; margin: 5px; }*/
pre {outline:none; border:none;}
.string { color: #5bc0de; }
.number { color: red; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #fcab46; }


#SMTPS p{
    font-weight:bold;
}

#UserList th:first-child{
    padding-left:25px;
}

.Roles{
    color:#13a89e;
}

.MBody{

}

._MBody{
    background-color:#f5f5f5;
}

#SID{
    word-wrap:break-word;
    color:coral;
    word-break:break-word;
}
